frontend/designs/pages/login.json
[
    {
        "id": "sd_QK0oPw6Xi4QyQfdq",
        "type": "tab",
        "createdDate": "2023-07-11T06:16:50.050Z",
        "label": "login",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "loginComponent"
    },
    {
        "id": "sd_bbuuIY1MzVFKwsuL",
        "type": "OnInit",
        "z": "sd_QK0oPw6Xi4QyQfdq",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "inputVariables": [],
        "localVariables": [],
        "outputVariables": [],
        "pageVariables": [],
        "functionName": "sd_bbuuIY1MzVFKwsuL",
        "category": "Lifecycle Events",
        "x": 45,
        "y": 60,
        "wires": [
            [
                "sd_AKSZvDSUEuzEFnzg"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "loginComponent"
    },
    {
        "id": "sd_AKSZvDSUEuzEFnzg",
        "type": "PageVariables",
        "z": "sd_QK0oPw6Xi4QyQfdq",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [],
        "functionName": "sd_AKSZvDSUEuzEFnzg",
        "category": "Function",
        "x": 195,
        "y": 60,
        "wires": [
            [
                "sd_dlbaOrw8Z9e0cN0u"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "loginComponent",
        "generated": true
    },
    {
        "id": "sd_Ouai0bQgSSydK3Ej",
        "type": "PageStart",
        "z": "sd_QK0oPw6Xi4QyQfdq",
        "viewType": "pages",
        "nodeType": "start",
        "name": "user_login",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "user_login",
        "category": "General",
        "x": 60,
        "y": 180,
        "wires": [
            [
                "sd_LuBfMvQA7YF1UzUF"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "loginComponent"
    },
    {
        "id": "sd_LuBfMvQA7YF1UzUF",
        "type": "Script",
        "z": "sd_QK0oPw6Xi4QyQfdq",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(page.loginForm.value);",
        "functionName": "sd_LuBfMvQA7YF1UzUF",
        "category": "Function",
        "x": 185,
        "y": 180,
        "wires": [
            [
                "sd_U8iWEyL85JkwwpL0"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "loginComponent",
        "generated": true
    },
    {
        "id": "sd_dlbaOrw8Z9e0cN0u",
        "type": "UseDependency",
        "z": "sd_QK0oPw6Xi4QyQfdq",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "FormGroup",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "FormControl",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "FormBuilder",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "fb"
                },
                "injectable": true
            }
        ],
        "import_all": false,
        "library": "@angular/forms",
        "serviceDesignerType": "pages",
        "functionName": "sd_dlbaOrw8Z9e0cN0u",
        "category": "Function",
        "x": 345,
        "y": 60,
        "wires": [
            [
                "sd_ZCbAKAbWGRtmuXMc"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "loginComponent",
        "generated": true
    },
    {
        "id": "sd_ZCbAKAbWGRtmuXMc",
        "type": "Script",
        "z": "sd_QK0oPw6Xi4QyQfdq",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.loginForm = page.fb.group({\n    username : [''],\n    password : ['']\n})",
        "functionName": "sd_ZCbAKAbWGRtmuXMc",
        "category": "Function",
        "x": 505,
        "y": 60,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "loginComponent",
        "generated": true
    },
    {
        "id": "sd_V1PdmcqPHSMECTa9",
        "type": "SnackBar",
        "z": "sd_QK0oPw6Xi4QyQfdq",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Login successful"
        },
        "action": {
            "type": "str",
            "value": "ok"
        },
        "duration": {
            "type": "num",
            "value": "5000"
        },
        "horizontalPosition": "center",
        "verticalPosition": "bottom",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_V1PdmcqPHSMECTa9",
        "category": "General",
        "x": 445,
        "y": 180,
        "wires": [
            [
                "sd_7SG16pWVv2XRacoD"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "loginComponent",
        "generated": true
    },
    {
        "id": "sd_7SG16pWVv2XRacoD",
        "type": "Navigation",
        "z": "sd_QK0oPw6Xi4QyQfdq",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/dashboard",
        "functionName": "sd_7SG16pWVv2XRacoD",
        "category": "Navigation",
        "x": 585,
        "y": 179,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "loginComponent",
        "generated": true
    },
    {
        "id": "sd_U8iWEyL85JkwwpL0",
        "type": "PageCallService",
        "z": "sd_QK0oPw6Xi4QyQfdq",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_tDWsJ0c91cmg11dV",
            "type": "tab",
            "createdDate": "2023-07-15T12:14:21.673Z",
            "label": "login",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_jc9NxSKPJRZ7Ow9m",
            "flowName": "login"
        },
        "inputVariables": [
            {
                "key": "username",
                "map": true,
                "valueType": "this.page",
                "value": "loginForm.value.username"
            },
            {
                "key": "password",
                "map": true,
                "valueType": "this.page",
                "value": "loginForm.value.password"
            },
            {
                "key": "response",
                "map": true,
                "valueType": "bh",
                "value": ""
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "input",
                "key": "response",
                "valueType": "bh",
                "value": "response",
                "mapVarName": "response",
                "localVar": "bh.response"
            }
        ],
        "serviceImportPath": "app/sd-services/login",
        "startName": "login",
        "inputParams": [
            "this.page.loginForm.value.username",
            "this.page.loginForm.value.password",
            null
        ],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_U8iWEyL85JkwwpL0",
        "category": "General",
        "x": 310,
        "y": 179,
        "wires": [
            [
                "sd_V1PdmcqPHSMECTa9"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "loginComponent",
        "generated": true
    }
]
