frontend/designs/pages/profile.json
[
    {
        "id": "sd_NspMylsWwHyBxZPl",
        "type": "tab",
        "createdDate": "2023-07-14T03:21:09.137Z",
        "label": "profile",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "profileComponent"
    },
    {
        "id": "sd_EYdfdn1o7ZbUT0EQ",
        "type": "OnInit",
        "z": "sd_NspMylsWwHyBxZPl",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_EYdfdn1o7ZbUT0EQ",
        "category": "Lifecycle Events",
        "x": 85,
        "y": 60,
        "wires": [
            [
                "sd_Y3b5vEOwmisy0wBW"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "profileComponent"
    },
    {
        "id": "sd_Y3b5vEOwmisy0wBW",
        "type": "PageVariables",
        "z": "sd_NspMylsWwHyBxZPl",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [],
        "functionName": "sd_Y3b5vEOwmisy0wBW",
        "category": "Function",
        "x": 235,
        "y": 60,
        "wires": [
            [
                "sd_G3Ykgx9MpvgSfLpV"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "profileComponent",
        "generated": true
    },
    {
        "id": "sd_G3Ykgx9MpvgSfLpV",
        "type": "UseDependency",
        "z": "sd_NspMylsWwHyBxZPl",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "FormGroup",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "FormControl",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "FormBuilder",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "fb"
                },
                "injectable": true
            }
        ],
        "import_all": false,
        "library": "@angular/forms",
        "serviceDesignerType": "pages",
        "functionName": "sd_G3Ykgx9MpvgSfLpV",
        "category": "Function",
        "x": 400,
        "y": 60,
        "wires": [
            [
                "sd_d43zNU09sQ3QupBk"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "profileComponent",
        "generated": true
    },
    {
        "id": "sd_Ih2g6ZCoPetDEiJu",
        "type": "Script",
        "z": "sd_NspMylsWwHyBxZPl",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(page.result);\npage.registerForm = page.fb.group({\n    name : page.result.name,\n    password: page.result.password,\n    phone: page.result.phone,\n    email: page.result.email,\n    date: page.result.date\n})",
        "functionName": "sd_Ih2g6ZCoPetDEiJu",
        "category": "Function",
        "x": 685,
        "y": 60,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "profileComponent",
        "generated": true
    },
    {
        "id": "sd_gDLeDRQJ4HnMRVmD",
        "type": "PageStart",
        "z": "sd_NspMylsWwHyBxZPl",
        "viewType": "pages",
        "nodeType": "start",
        "name": "user_register",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "user_register",
        "category": "General",
        "x": 80,
        "y": 240,
        "wires": [
            [
                "sd_sAGOYgKA8tjieaW9"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "profileComponent"
    },
    {
        "id": "sd_sAGOYgKA8tjieaW9",
        "type": "SnackBar",
        "z": "sd_NspMylsWwHyBxZPl",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Profile Updated Successfully"
        },
        "action": {
            "type": "str",
            "value": "ok"
        },
        "duration": {
            "type": "num",
            "value": "5000"
        },
        "horizontalPosition": "center",
        "verticalPosition": "bottom",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_sAGOYgKA8tjieaW9",
        "category": "General",
        "x": 225,
        "y": 240,
        "wires": [
            [
                "sd_isHNj9TGEbYuYJxu"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "profileComponent",
        "generated": true
    },
    {
        "id": "sd_yxiuFOWhcrcGEMmM",
        "type": "Navigation",
        "z": "sd_NspMylsWwHyBxZPl",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/dashboard",
        "functionName": "sd_yxiuFOWhcrcGEMmM",
        "category": "Navigation",
        "x": 505,
        "y": 240,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "profileComponent",
        "generated": true
    },
    {
        "id": "sd_d43zNU09sQ3QupBk",
        "type": "Storage",
        "z": "sd_NspMylsWwHyBxZPl",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "getItem",
        "storageType": "localStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "profileData"
        },
        "value": {},
        "resultMapping": {
            "type": "this.page",
            "value": "result"
        },
        "functionName": "sd_d43zNU09sQ3QupBk",
        "category": "Storage",
        "x": 540,
        "y": 60,
        "wires": [
            [
                "sd_Ih2g6ZCoPetDEiJu"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "profileComponent",
        "generated": true
    },
    {
        "id": "sd_isHNj9TGEbYuYJxu",
        "type": "Storage",
        "z": "sd_NspMylsWwHyBxZPl",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "setItem",
        "storageType": "localStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "profileData"
        },
        "value": {
            "type": "this.page",
            "value": "registerForm.value"
        },
        "resultMapping": {},
        "functionName": "sd_isHNj9TGEbYuYJxu",
        "category": "Storage",
        "x": 365,
        "y": 240,
        "wires": [
            [
                "sd_yxiuFOWhcrcGEMmM"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "profileComponent",
        "generated": true
    }
]
