frontend/designs/pages/reactive_forms.json
[
    {
        "id": "sd_AvQSQYIs5eLhBqUZ",
        "type": "tab",
        "createdDate": "2023-07-12T06:09:56.219Z",
        "label": "reactive_forms",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "reactive_formsComponent"
    },
    {
        "id": "sd_4eVTQ5FuJ1mw6meh",
        "type": "OnInit",
        "z": "sd_AvQSQYIs5eLhBqUZ",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "inputVariables": [],
        "localVariables": [],
        "outputVariables": [],
        "pageVariables": [],
        "functionName": "sd_4eVTQ5FuJ1mw6meh",
        "category": "Lifecycle Events",
        "x": 45,
        "y": 100,
        "wires": [
            [
                "sd_Emw4bx2BQQqdgjk1"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "reactive_formsComponent"
    },
    {
        "id": "sd_Emw4bx2BQQqdgjk1",
        "type": "PageVariables",
        "z": "sd_AvQSQYIs5eLhBqUZ",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [],
        "functionName": "sd_Emw4bx2BQQqdgjk1",
        "category": "Function",
        "x": 185,
        "y": 100,
        "wires": [
            [
                "sd_swf6mfkkYCtmX8en"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "reactive_formsComponent",
        "generated": true
    },
    {
        "id": "sd_swf6mfkkYCtmX8en",
        "type": "UseDependency",
        "z": "sd_AvQSQYIs5eLhBqUZ",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "form",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "FormGroup",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "FormControl",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "FormBuilder",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "fb"
                },
                "injectable": true
            }
        ],
        "import_all": false,
        "library": "@angular/forms",
        "serviceDesignerType": "pages",
        "functionName": "form",
        "category": "Function",
        "x": 325,
        "y": 100,
        "wires": [
            [
                "sd_fScgYPt0I6LccCaR"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "reactive_formsComponent",
        "generated": true
    },
    {
        "id": "sd_fScgYPt0I6LccCaR",
        "type": "Script",
        "z": "sd_AvQSQYIs5eLhBqUZ",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.registrationform = page.fb.group({\n    firstName: [''],\n    lastName: ['']\n})",
        "functionName": "sd_fScgYPt0I6LccCaR",
        "category": "Function",
        "x": 465,
        "y": 100,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "reactive_formsComponent",
        "generated": true
    },
    {
        "id": "sd_z4uhoLwdVfLXXDgy",
        "type": "PageStart",
        "z": "sd_AvQSQYIs5eLhBqUZ",
        "viewType": "pages",
        "nodeType": "start",
        "name": "formSubmit",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "formSubmit",
        "category": "General",
        "x": 60,
        "y": 320,
        "wires": [
            [
                "sd_uekKrAzS8TUN1eQJ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "reactive_formsComponent"
    },
    {
        "id": "sd_uekKrAzS8TUN1eQJ",
        "type": "Script",
        "z": "sd_AvQSQYIs5eLhBqUZ",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(page.registrationform.valid);",
        "functionName": "sd_uekKrAzS8TUN1eQJ",
        "category": "Function",
        "x": 205,
        "y": 320,
        "wires": [
            [
                "sd_f6pK5BjeskMK584K"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "reactive_formsComponent",
        "generated": true
    },
    {
        "id": "sd_f6pK5BjeskMK584K",
        "type": "SnackBar",
        "z": "sd_AvQSQYIs5eLhBqUZ",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Registration successfull"
        },
        "action": {
            "type": "str",
            "value": "ok"
        },
        "duration": {
            "type": "num",
            "value": "5000"
        },
        "horizontalPosition": "center",
        "verticalPosition": "bottom",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_f6pK5BjeskMK584K",
        "category": "General",
        "x": 365,
        "y": 320,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "reactive_formsComponent",
        "generated": true
    }
]
