apipractice/designs/server/services/Sql_practice/delete_operation.json
[
    {
        "id": "SSD_SERVICE_ID_sd_Dlobrannmyy2vRtz",
        "type": "tab",
        "createdDate": "2023-06-28T05:46:09.902Z",
        "label": "delete_operation",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "delete_operation",
        "relativeParentPath": "Sql_practice"
    },
    {
        "id": "sd_dQJYgfrjTc0riiJb",
        "type": "Start",
        "z": "SSD_SERVICE_ID_sd_Dlobrannmyy2vRtz",
        "viewType": "client-server",
        "nodeType": "start",
        "name": "delete_function",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "id",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            },
            {
                "key": "status",
                "defaultValue": {
                    "type": "bool",
                    "value": "true"
                },
                "output": true
            },
            {
                "key": "result",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": true
            }
        ],
        "localVariables": [],
        "accept_bh": false,
        "functionName": "delete_function",
        "category": "General",
        "x": 125,
        "y": 380,
        "wires": [
            [
                "sd_NNhAHebw5SPmvKAs"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "delete_operation"
    },
    {
        "id": "sd_NNhAHebw5SPmvKAs",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_Dlobrannmyy2vRtz",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "if(!bh.input.id){\n    bh.input.status = false;\n    bh.input.result = {\"message\": \"id required\"};\n}",
        "functionName": "sd_NNhAHebw5SPmvKAs",
        "category": "Function",
        "x": 265,
        "y": 380,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "delete_operation",
        "generated": true
    },
    {
        "id": "sd_OqRUl700EIcqaXHc",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_Dlobrannmyy2vRtz",
        "viewType": "server",
        "nodeType": "start",
        "name": "",
        "path": "delete-operation",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "delete",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "useDataModel": false,
        "dataModelIsArray": false,
        "uploadFileOptions": "",
        "erd": "",
        "erdName": "",
        "entity": "",
        "ref": "",
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "validateRequestUsingSwaggerDocs": false,
        "category": "HTTP",
        "x": 125,
        "y": 200,
        "wires": [
            [
                "sd_MDiTF1aZsf0acdHF"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "delete_operation",
        "functionName": "sd_OqRUl700EIcqaXHc"
    },
    {
        "id": "sd_MDiTF1aZsf0acdHF",
        "type": "CallService",
        "z": "SSD_SERVICE_ID_sd_Dlobrannmyy2vRtz",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "SSD_SERVICE_ID_sd_Dlobrannmyy2vRtz",
            "type": "tab",
            "createdDate": "2023-06-28T05:46:09.902Z",
            "label": "delete_operation",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_dQJYgfrjTc0riiJb",
            "flowName": "delete_function"
        },
        "inputVariables": [
            {
                "key": "id",
                "map": true,
                "valueType": "bh.input",
                "value": "body.id"
            },
            {
                "key": "status",
                "map": true,
                "valueType": "bh",
                "value": ""
            },
            {
                "key": "result",
                "map": true,
                "valueType": "bh",
                "value": ""
            }
        ],
        "bhVariables": [],
        "outputMapping": [
            {
                "mapVarType": "input",
                "key": "status",
                "valueType": "bh",
                "value": "status",
                "mapVarName": "status",
                "localVar": "bh.status"
            },
            {
                "mapVarType": "input",
                "key": "result",
                "valueType": "bh",
                "value": "result",
                "mapVarName": "result",
                "localVar": "bh.result"
            }
        ],
        "callService": "./delete_operation",
        "startName": "delete_function",
        "inputParams": [
            "bh.input.body.id",
            null,
            null
        ],
        "accept_bh": false,
        "functionName": "sd_MDiTF1aZsf0acdHF",
        "category": "General",
        "x": 265,
        "y": 200,
        "wires": [
            [
                "sd_Uf9yhMeRDTedi993"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "delete_operation",
        "generated": true
    },
    {
        "id": "sd_Uf9yhMeRDTedi993",
        "type": "Switch",
        "z": "SSD_SERVICE_ID_sd_Dlobrannmyy2vRtz",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "status",
        "propertyType": "bh",
        "propertyGv": "bh.status",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_Uf9yhMeRDTedi993",
        "category": "Function",
        "x": 405,
        "y": 200,
        "wires": [
            [
                "sd_YQ20YyF9IJq71BWa"
            ],
            [
                "sd_VQx91AlZq4nJyXKD"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "delete_operation",
        "generated": true
    },
    {
        "id": "sd_6qTV0dxcPVQi87tX",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_Dlobrannmyy2vRtz",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.query = 'DELETE FROM employee WHERE id=$1';\n\nbh.params = [\n    bh.input.body.id\n];",
        "functionName": "sd_6qTV0dxcPVQi87tX",
        "category": "Function",
        "x": 885,
        "y": 240,
        "wires": [
            [
                "sd_B2JXvOjVGjU0Y0C2"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "delete_operation",
        "generated": true
    },
    {
        "id": "sd_VQx91AlZq4nJyXKD",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_Dlobrannmyy2vRtz",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh",
            "value": "result",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": 400,
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "swaggerResponse": {},
        "responseMapping": {
            "status": 400,
            "obj": "bh.result",
            "send": "bh.result"
        },
        "dataModelIsArray": false,
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "erd": "",
        "entity": "",
        "ref": "",
        "editableListData": {
            "headers": [],
            "produces": [],
            "responses": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_VQx91AlZq4nJyXKD",
        "category": "HTTP",
        "x": 885,
        "y": 420,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "delete_operation",
        "generated": true
    },
    {
        "id": "sd_e3mUZRMPIETBfhri",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_Dlobrannmyy2vRtz",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh",
            "value": "result",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": 200,
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "swaggerResponse": {},
        "responseMapping": {
            "status": 200,
            "obj": "bh.result",
            "send": "bh.result"
        },
        "dataModelIsArray": false,
        "inputs": 1,
        "outputs": 0,
        "erd": "",
        "entity": "",
        "ref": "",
        "editableListData": {
            "headers": [],
            "produces": [],
            "responses": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_e3mUZRMPIETBfhri",
        "category": "HTTP",
        "x": 1225,
        "y": 240,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "delete_operation",
        "generated": true
    },
    {
        "id": "sd_B2JXvOjVGjU0Y0C2",
        "type": "ExecuteSql",
        "z": "SSD_SERVICE_ID_sd_Dlobrannmyy2vRtz",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "databaseConfig": "sd_xDzx3dxKbrMOh8oE",
        "resultMap": {
            "type": "bh",
            "value": "result"
        },
        "multipleQuery": "",
        "singleQuery": {
            "type": "bh",
            "value": "query"
        },
        "inputs": 1,
        "outputs": 1,
        "paramMappingObj": {
            "type": "bh",
            "value": "params"
        },
        "dbType": "postgres",
        "functionName": "sd_B2JXvOjVGjU0Y0C2",
        "category": "Storage",
        "x": 1005,
        "y": 240,
        "wires": [
            [
                "sd_BqstNBVTxTxlJCt0"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "delete_operation",
        "generated": true
    },
    {
        "id": "sd_YQ20YyF9IJq71BWa",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_Dlobrannmyy2vRtz",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.getQuery = 'SELECT name from employee where id = $1';\n\nbh.getParams = [bh.input.body.id];",
        "functionName": "sd_YQ20YyF9IJq71BWa",
        "category": "Function",
        "x": 505,
        "y": 120,
        "wires": [
            [
                "sd_YMuz81Omv93msq9m"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "delete_operation",
        "generated": true
    },
    {
        "id": "sd_YMuz81Omv93msq9m",
        "type": "ExecuteSql",
        "z": "SSD_SERVICE_ID_sd_Dlobrannmyy2vRtz",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "databaseConfig": "sd_xDzx3dxKbrMOh8oE",
        "queryType": "",
        "resultMap": {
            "type": "bh",
            "value": "getResult"
        },
        "multipleQuery": "",
        "singleQuery": {
            "type": "bh",
            "value": "getQuery"
        },
        "inputs": 1,
        "outputs": 1,
        "params": [],
        "paramMappingObj": {
            "type": "bh",
            "value": "getParams"
        },
        "dbType": "postgres",
        "functionName": "sd_YMuz81Omv93msq9m",
        "category": "Storage",
        "x": 605,
        "y": 120,
        "wires": [
            [
                "sd_GmsfybLC083TW0NI"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "delete_operation",
        "generated": true
    },
    {
        "id": "sd_GmsfybLC083TW0NI",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_Dlobrannmyy2vRtz",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "if(bh.getResult.length == 0){\n    bh.status = false;\n    bh.result = {\"message\": \"employee details not exists for the given id\"};\n}",
        "functionName": "sd_GmsfybLC083TW0NI",
        "category": "Function",
        "x": 705,
        "y": 120,
        "wires": [
            [
                "sd_Jpmd8vl6sya0WKan"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "delete_operation",
        "generated": true
    },
    {
        "id": "sd_Jpmd8vl6sya0WKan",
        "type": "Switch",
        "z": "SSD_SERVICE_ID_sd_Dlobrannmyy2vRtz",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "status",
        "propertyType": "bh",
        "propertyGv": "bh.status",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_Jpmd8vl6sya0WKan",
        "category": "Function",
        "x": 765,
        "y": 260,
        "wires": [
            [
                "sd_6qTV0dxcPVQi87tX"
            ],
            [
                "sd_VQx91AlZq4nJyXKD"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "delete_operation",
        "generated": true
    },
    {
        "id": "sd_BqstNBVTxTxlJCt0",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_Dlobrannmyy2vRtz",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.result = {\"message\": \"Data deleted successfully\"};",
        "functionName": "sd_BqstNBVTxTxlJCt0",
        "category": "Function",
        "x": 1105,
        "y": 240,
        "wires": [
            [
                "sd_e3mUZRMPIETBfhri"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "delete_operation",
        "generated": true
    }
]
