neutrinos-hello-world-api/designs/server/services/ids.json
[
    {
        "id": "sd_HJ7Z9bKjJTryM0NH",
        "type": "tab",
        "createdDate": "2019-12-04T10:42:13.097Z",
        "label": "ids",
        "disabled": false,
        "info": "",
        "generateNext": true,
        "serviceName": "ids",
        "relativeParentPath": ""
    },
    {
        "id": "sd_mTIalL6yfOSQb63B",
        "type": "HttpIn",
        "z": "sd_HJ7Z9bKjJTryM0NH",
        "viewType": "server",
        "nodeType": "start",
        "name": "Login API",
        "path": "/login",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "get",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "useDataModel": false,
        "dataModelIsArray": false,
        "uploadFileOptions": {},
        "erd": "",
        "erdName": "",
        "entity": "",
        "ref": "",
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "validateRequestUsingSwaggerDocs": false,
        "category": "HTTP",
        "x": 92,
        "y": 286.953125,
        "wires": [
            [
                "sd_K1RDrI4zZrIjTjli"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "ids",
        "functionName": "sd_mTIalL6yfOSQb63B"
    },
    {
        "id": "sd_f8yfKtkXeJa5PGVd",
        "type": "Script",
        "z": "sd_HJ7Z9bKjJTryM0NH",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Create session details",
        "script": "bh.local.reqParams = {\n    state : crypto.randomBytes(16).toString('hex'),\n    nonce : crypto.randomBytes(16).toString('hex'),\n    isMobile : bh.input.query.isMobile,\n    redirectTo : bh.input.query.redirectTo\n};",
        "functionName": "sd_f8yfKtkXeJa5PGVd",
        "category": "Function",
        "x": 618,
        "y": 168.21875,
        "wires": [
            [
                "sd_S6tIrTjnOZFaZuIo"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ids",
        "generated": true
    },
    {
        "id": "sd_S6tIrTjnOZFaZuIo",
        "type": "Session",
        "z": "sd_HJ7Z9bKjJTryM0NH",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "update",
        "data": "",
        "resultMapping": "",
        "dataMapping": "bh.local.reqParams",
        "functionName": "sd_S6tIrTjnOZFaZuIo",
        "category": "HTTP",
        "x": 763,
        "y": 410,
        "wires": [
            [
                "sd_7OvZNDO1hy3y0RG9"
            ]
        ],
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.input",
                "value": ""
            },
            "dataMapping": {
                "type": "bh.local",
                "value": "reqParams"
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ids",
        "generated": true
    },
    {
        "id": "sd_X08KBaIgQJSUxSqG",
        "type": "Script",
        "z": "sd_HJ7Z9bKjJTryM0NH",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Calculate IDS login redirect URL",
        "script": "const authorizationRequest = Object.assign({\n    redirect_uri: url.resolve(bh.web.req.href, '/api/login/cb'),\n    scope: 'openid profile email address phone user',\n    state: bh.local.reqParams.state,\n    nonce: bh.local.reqParams.nonce,\n    response_type: bh.input.client.response_types[0],\n}, bh.input.authParams);\n\nbh.local.redirectHeaders = {\n    location: bh.input.client.authorizationUrl(authorizationRequest)\n};\n",
        "functionName": "sd_X08KBaIgQJSUxSqG",
        "category": "Function",
        "x": 1194,
        "y": 160,
        "wires": [
            [
                "sd_1Avd4AL6cMmhVWTS"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ids",
        "generated": true
    },
    {
        "id": "sd_7OvZNDO1hy3y0RG9",
        "type": "CallService",
        "z": "sd_HJ7Z9bKjJTryM0NH",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Get IDS client instance",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "serviceId": "sd_p6O4djQoUmhBm5O4",
            "serviceName": "idsutil",
            "id": "sd_p6O4djQoUmhBm5O4",
            "label": "idsutil"
        },
        "flow": {
            "flowId": "sd_hmQX2PElZQpapoFh",
            "flowName": "getIDSClientInstance"
        },
        "inputVariables": [
            {
                "key": "clientInstance",
                "map": true,
                "valueType": "bh.input",
                "value": ""
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "input",
                "key": "clientInstance",
                "valueType": "bh.input",
                "value": "client",
                "mapVarName": "clientInstance",
                "localVar": "bh.input.client"
            }
        ],
        "callService": "./idsutil",
        "startName": "getIDSClientInstance",
        "inputParams": [
            null
        ],
        "accept_bh": false,
        "functionName": "sd_7OvZNDO1hy3y0RG9",
        "category": "General",
        "x": 903.8125,
        "y": 173.984375,
        "wires": [
            [
                "sd_4v1dg3spWsfGqHl9"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ids",
        "generated": true
    },
    {
        "id": "sd_1Avd4AL6cMmhVWTS",
        "type": "HttpOut",
        "z": "sd_HJ7Z9bKjJTryM0NH",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Redirect to IDS",
        "headers": {
            "type": "bh.local",
            "value": "redirectHeaders",
            "ssd_typedInputField": true
        },
        "responseBody": {
            "type": "literal",
            "value": "'redirecting'",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": "302",
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "swaggerResponse": {},
        "responseMapping": {
            "status": 302,
            "obj": "'redirecting'",
            "send": "'redirecting'"
        },
        "dataModelIsArray": false,
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "erd": "",
        "entity": "",
        "ref": "",
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Value",
            "cookies": "Map"
        },
        "functionName": "sd_1Avd4AL6cMmhVWTS",
        "category": "HTTP",
        "x": 1343,
        "y": 408,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ids",
        "generated": true
    },
    {
        "id": "sd_qz8liOL2fh9jfFPZ",
        "type": "Switch",
        "z": "sd_HJ7Z9bKjJTryM0NH",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Check if client is registered",
        "property": "idsConfigured",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.idsConfigured",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_qz8liOL2fh9jfFPZ",
        "category": "Function",
        "x": 388,
        "y": 286,
        "wires": [
            [
                "sd_f8yfKtkXeJa5PGVd"
            ],
            [
                "sd_DFp6ct4CdJHvJjZK"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ids",
        "generated": true
    },
    {
        "id": "sd_K1RDrI4zZrIjTjli",
        "type": "Script",
        "z": "sd_HJ7Z9bKjJTryM0NH",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Assert IDS config",
        "script": "bh.local.idsConfigured = false;\nif (settings.default.hasOwnProperty('ids') && settings.default['ids'].hasOwnProperty('client_id') &&\n    settings.default['ids'].hasOwnProperty('client_secret')) {\n    bh.local.idsConfigured = true;\n}",
        "functionName": "sd_K1RDrI4zZrIjTjli",
        "category": "Function",
        "x": 234,
        "y": 287,
        "wires": [
            [
                "sd_qz8liOL2fh9jfFPZ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ids",
        "generated": true
    },
    {
        "id": "sd_EGalldojM9cPtLWl",
        "type": "HttpOut",
        "z": "sd_HJ7Z9bKjJTryM0NH",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Send client not registered response",
        "headers": {},
        "responseBody": {
            "type": "literal",
            "value": "bh.local.res.message",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": "404",
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "swaggerResponse": {},
        "responseMapping": {
            "status": 404,
            "obj": "bh.local.res.message",
            "send": "bh.local.res.message"
        },
        "dataModelIsArray": false,
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "erd": "",
        "entity": "",
        "ref": "",
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_EGalldojM9cPtLWl",
        "category": "HTTP",
        "x": 1341,
        "y": 286,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ids",
        "generated": true
    },
    {
        "id": "sd_DFp6ct4CdJHvJjZK",
        "type": "Script",
        "z": "sd_HJ7Z9bKjJTryM0NH",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Client not registered object",
        "script": "bh.local.res = {\n    message: 'IDS client not registered. Register on the Neutrinos Stuido and try again'\n}",
        "functionName": "sd_DFp6ct4CdJHvJjZK",
        "category": "Function",
        "x": 617,
        "y": 291,
        "wires": [
            [
                "sd_EGalldojM9cPtLWl"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ids",
        "generated": true
    },
    {
        "id": "sd_mQJTibS8UyotWdL3",
        "type": "MiddlewareStart",
        "z": "sd_HJ7Z9bKjJTryM0NH",
        "viewType": "server",
        "nodeType": "start",
        "name": "hrefstart",
        "inputs": 0,
        "outputs": 1,
        "category": "HTTP",
        "x": 517,
        "y": 691.796875,
        "wires": [
            [
                "sd_A98RJ4H8JFFrpob9"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "ids",
        "functionName": "sd_mQJTibS8UyotWdL3"
    },
    {
        "id": "sd_55kfXHhKyLYnUNA1",
        "type": "MiddlewareEnd",
        "z": "sd_HJ7Z9bKjJTryM0NH",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Href end",
        "headers": {},
        "responseBody": {
            "type": "literal",
            "value": "'end'",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": "200",
            "ssd_typedInputField": true
        },
        "responseType": "next",
        "responseMapping": {
            "status": 200,
            "next": "'end'"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_55kfXHhKyLYnUNA1",
        "category": "HTTP",
        "x": 819.890625,
        "y": 692.796875,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ids",
        "generated": true
    },
    {
        "id": "sd_A98RJ4H8JFFrpob9",
        "type": "Script",
        "z": "sd_HJ7Z9bKjJTryM0NH",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Calculate href",
        "script": "const protocol = bh.input.headers['x-forwarded-proto'] || bh.web.req.protocol;\nconst href = protocol + \"://\" + bh.web.req.get('Host') + bh.web.req.originalUrl;\nbh.web.req.href = href;",
        "functionName": "sd_A98RJ4H8JFFrpob9",
        "category": "Function",
        "x": 665,
        "y": 692.78125,
        "wires": [
            [
                "sd_55kfXHhKyLYnUNA1"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ids",
        "generated": true
    },
    {
        "id": "sd_4v1dg3spWsfGqHl9",
        "type": "CallService",
        "z": "sd_HJ7Z9bKjJTryM0NH",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Get Scope and consent values",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "serviceId": "sd_p6O4djQoUmhBm5O4",
            "serviceName": "idsutil",
            "id": "sd_p6O4djQoUmhBm5O4",
            "label": "idsutil"
        },
        "flow": {
            "flowId": "sd_NKtPxkgoHeXzC9QG",
            "flowName": "Get Authorization Params"
        },
        "inputVariables": [
            {
                "key": "authParams",
                "map": false,
                "value": ""
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "input",
                "key": "authParams",
                "valueType": "bh.input",
                "value": "authParams",
                "mapVarName": "authParams",
                "localVar": "bh.input.authParams"
            }
        ],
        "callService": "./idsutil",
        "startName": "getAuthorizationParams",
        "inputParams": [
            ""
        ],
        "accept_bh": false,
        "functionName": "sd_4v1dg3spWsfGqHl9",
        "category": "General",
        "x": 1051,
        "y": 415.78125,
        "wires": [
            [
                "sd_X08KBaIgQJSUxSqG"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ids",
        "generated": true
    },
    {
        "id": "sd_P5uAUkErzx6am4PO",
        "type": "HttpIn",
        "z": "sd_HJ7Z9bKjJTryM0NH",
        "viewType": "server",
        "nodeType": "start",
        "name": "Login Callback API",
        "path": "/login/cb",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "get",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "useDataModel": false,
        "dataModelIsArray": false,
        "uploadFileOptions": {},
        "erd": "",
        "erdName": "",
        "entity": "",
        "ref": "",
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "validateRequestUsingSwaggerDocs": false,
        "category": "HTTP",
        "x": 88.890625,
        "y": 1038.796875,
        "wires": [
            [
                "sd_GTxLL7BSgflmmAnU"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "ids",
        "functionName": "sd_P5uAUkErzx6am4PO"
    },
    {
        "id": "sd_9UWxnY5gkOFC9iUO",
        "type": "CallService",
        "z": "sd_HJ7Z9bKjJTryM0NH",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Get IDS client instance",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "serviceId": "sd_p6O4djQoUmhBm5O4",
            "serviceName": "idsutil",
            "id": "sd_p6O4djQoUmhBm5O4",
            "label": "idsutil"
        },
        "flow": {
            "flowId": "sd_hmQX2PElZQpapoFh",
            "flowName": "getIDSClientInstance"
        },
        "inputVariables": [
            {
                "key": "clientInstance",
                "map": true,
                "valueType": "bh.input",
                "value": ""
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "input",
                "key": "clientInstance",
                "valueType": "bh.input",
                "value": "client",
                "mapVarName": "clientInstance",
                "localVar": "bh.input.client"
            }
        ],
        "callService": "./idsutil",
        "startName": "getIDSClientInstance",
        "inputParams": [
            null
        ],
        "accept_bh": false,
        "functionName": "sd_9UWxnY5gkOFC9iUO",
        "category": "General",
        "x": 453,
        "y": 1036.8125,
        "wires": [
            [
                "sd_kjszlcJoUzPJSX2M"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ids",
        "generated": true
    },
    {
        "id": "sd_kjszlcJoUzPJSX2M",
        "type": "Script",
        "z": "sd_HJ7Z9bKjJTryM0NH",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Get userinfo and tokens ",
        "script": "const params = bh.input.client.callbackParams(bh.web.req);\nlet tokenset = await bh.input.client.callback(url.resolve(bh.web.req.href, 'cb'), params, {\n    'nonce': bh.input.sessionParams.data.nonce,\n    'state': bh.input.sessionParams.data.state\n});\n\nbh.local.redirectTo = bh.input.sessionParams.data.redirectTo\n\nbh.local.userDetails = {\n    tokenset: Object.assign({}, tokenset),\n    userInfo: await bh.input.client.userinfo(tokenset['access_token'])\n}\nbh.local.userDetails['tokenset']['claims'] = Object.assign({}, tokenset.claims());\n\nconsole.log(bh.local.userDetails.userInfo);",
        "functionName": "sd_kjszlcJoUzPJSX2M",
        "category": "Function",
        "x": 616,
        "y": 1036.78125,
        "wires": [
            [
                "sd_MPxYSwxDXfZuz9eT"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ids",
        "generated": true
    },
    {
        "id": "sd_GTxLL7BSgflmmAnU",
        "type": "Session",
        "z": "sd_HJ7Z9bKjJTryM0NH",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "get",
        "data": "",
        "resultMapping": "bh.input.sessionParams",
        "dataMapping": "",
        "functionName": "sd_GTxLL7BSgflmmAnU",
        "category": "HTTP",
        "x": 262,
        "y": 1038.796875,
        "wires": [
            [
                "sd_9UWxnY5gkOFC9iUO"
            ]
        ],
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.input",
                "value": "sessionParams"
            },
            "dataMapping": {
                "type": "bh.input",
                "value": ""
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ids",
        "generated": true
    },
    {
        "id": "sd_k7K2tzxGUvFc86Mv",
        "type": "Switch",
        "z": "sd_HJ7Z9bKjJTryM0NH",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Send response based on device type",
        "property": "sessionParams.data.isMobile",
        "propertyType": "bh.input",
        "propertyGv": "bh.input.sessionParams.data.isMobile",
        "rules": [
            {
                "t": "se",
                "v": "true",
                "vt": "str",
                "gv": "\"true\""
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_k7K2tzxGUvFc86Mv",
        "category": "Function",
        "x": 1001,
        "y": 1035.78125,
        "wires": [
            [
                "sd_lu26B3U4wCgDlEo6"
            ],
            [
                "sd_RkpeFNrvdq1F13Kd"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ids",
        "generated": true
    },
    {
        "id": "sd_lu26B3U4wCgDlEo6",
        "type": "Script",
        "z": "sd_HJ7Z9bKjJTryM0NH",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Mobile html response",
        "script": "bh.local.htmlResponse = `\n <html>\n   <script>\n      let _timer;\n      _timer = setInterval(() => {\n                  if(window.webkit) {\n                      window.webkit.messageHandlers.cordova_iab.postMessage(JSON.stringify({'auth': 'success'}));\n                      clearInterval(_timer);\n                  }\n              }, 250);\n      \n   </script>\n</html>`;",
        "functionName": "sd_lu26B3U4wCgDlEo6",
        "category": "Function",
        "x": 1229.390643119812,
        "y": 891.2812614440918,
        "wires": [
            [
                "sd_wRSliPR4YzX6CUQB"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ids",
        "generated": true
    },
    {
        "id": "sd_RkpeFNrvdq1F13Kd",
        "type": "Script",
        "z": "sd_HJ7Z9bKjJTryM0NH",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Add location in headers obj",
        "script": "bh.local.redirectHeaders = {\n    location: bh.local.redirectTo\n}",
        "functionName": "sd_RkpeFNrvdq1F13Kd",
        "category": "Function",
        "x": 1218.890640258789,
        "y": 1152.5312690734863,
        "wires": [
            [
                "sd_shglOSe4fQl81bmF"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ids",
        "generated": true
    },
    {
        "id": "sd_wRSliPR4YzX6CUQB",
        "type": "HttpOut",
        "z": "sd_HJ7Z9bKjJTryM0NH",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Html response to close in app browser",
        "headers": {
            "Content-Security-Policy": "script-src 'sha256-wcX+PzUovy0uNFqMGCbbbzuT5v4aAxU9obFNyt6BHAQ='"
        },
        "responseBody": {
            "type": "bh.local",
            "value": "htmlResponse",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": "200",
            "ssd_typedInputField": true
        },
        "responseType": "txt",
        "swaggerResponse": {},
        "responseMapping": {
            "status": 200,
            "txt": "bh.local.htmlResponse",
            "send": "bh.local.htmlResponse"
        },
        "dataModelIsArray": false,
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "erd": "",
        "entity": "",
        "ref": "",
        "editableListData": {
            "headers": [
                {
                    "key": "Content-Security-Policy",
                    "value": "script-src 'sha256-wcX+PzUovy0uNFqMGCbbbzuT5v4aAxU9obFNyt6BHAQ='",
                    "rowId": "sd_VZ8YSISw5G2Kbppv",
                    "valid": true
                }
            ]
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_wRSliPR4YzX6CUQB",
        "category": "HTTP",
        "x": 1488.500020980835,
        "y": 1141.781265258789,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ids",
        "generated": true
    },
    {
        "id": "sd_shglOSe4fQl81bmF",
        "type": "HttpOut",
        "z": "sd_HJ7Z9bKjJTryM0NH",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Redirect back to app",
        "headers": {
            "type": "bh.local",
            "value": "redirectHeaders",
            "ssd_typedInputField": true
        },
        "responseBody": {
            "type": "literal",
            "value": "'Redirecting'",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": "302",
            "ssd_typedInputField": true
        },
        "responseType": "txt",
        "swaggerResponse": {},
        "responseMapping": {
            "status": 302,
            "txt": "'Redirecting'",
            "send": "'Redirecting'"
        },
        "dataModelIsArray": false,
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "erd": "",
        "entity": "",
        "ref": "",
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Value",
            "cookies": "Map"
        },
        "functionName": "sd_shglOSe4fQl81bmF",
        "category": "HTTP",
        "x": 1483.000020980835,
        "y": 903.2812633514404,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ids",
        "generated": true
    },
    {
        "id": "sd_MPxYSwxDXfZuz9eT",
        "type": "Session",
        "z": "sd_HJ7Z9bKjJTryM0NH",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "update",
        "data": "",
        "resultMapping": "",
        "dataMapping": "bh.local.userDetails",
        "functionName": "sd_MPxYSwxDXfZuz9eT",
        "category": "HTTP",
        "x": 792,
        "y": 1036.78125,
        "wires": [
            [
                "sd_k7K2tzxGUvFc86Mv"
            ]
        ],
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.input",
                "value": ""
            },
            "dataMapping": {
                "type": "bh.local",
                "value": "userDetails"
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ids",
        "generated": true
    },
    {
        "id": "sd_g14MH6wGCr3JUXTT",
        "type": "HttpIn",
        "z": "sd_HJ7Z9bKjJTryM0NH",
        "viewType": "server",
        "nodeType": "start",
        "name": "Get userinfo",
        "path": "/user/info",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "get",
        "sequenceId": "IDSAuthroizedAPIs",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "useDataModel": false,
        "dataModelIsArray": false,
        "uploadFileOptions": {},
        "erd": "",
        "erdName": "",
        "entity": "",
        "ref": "",
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "validateRequestUsingSwaggerDocs": false,
        "category": "HTTP",
        "x": 455.8125057220459,
        "y": 2060.734405517578,
        "wires": [
            [
                "sd_6GGXBoeKOEKamoKP"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "ids",
        "functionName": "sd_g14MH6wGCr3JUXTT"
    },
    {
        "id": "sd_6GGXBoeKOEKamoKP",
        "type": "Session",
        "z": "sd_HJ7Z9bKjJTryM0NH",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "get",
        "data": "",
        "resultMapping": "bh.local.session",
        "dataMapping": "",
        "functionName": "sd_6GGXBoeKOEKamoKP",
        "category": "HTTP",
        "x": 653.0000057220459,
        "y": 2060.781280517578,
        "wires": [
            [
                "sd_ncWmCPpZ1PLHZhk8"
            ]
        ],
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.local",
                "value": "session"
            },
            "dataMapping": {
                "type": "bh.input",
                "value": ""
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ids",
        "generated": true
    },
    {
        "id": "sd_ncWmCPpZ1PLHZhk8",
        "type": "HttpOut",
        "z": "sd_HJ7Z9bKjJTryM0NH",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh.local",
            "value": "session.data.userInfo",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": "200",
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "swaggerResponse": {},
        "responseMapping": {
            "status": 200,
            "obj": "bh.local.session.data.userInfo",
            "send": "bh.local.session.data.userInfo"
        },
        "dataModelIsArray": false,
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "erd": "",
        "entity": "",
        "ref": "",
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_ncWmCPpZ1PLHZhk8",
        "category": "HTTP",
        "x": 819.0000057220459,
        "y": 2060.781280517578,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ids",
        "generated": true
    },
    {
        "id": "sd_grOr55gguP36A9pi",
        "type": "Catch",
        "z": "sd_HJ7Z9bKjJTryM0NH",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "selectedNodes": [
            "sd_4v1dg3spWsfGqHl9",
            "sd_P5uAUkErzx6am4PO",
            "sd_9UWxnY5gkOFC9iUO",
            "sd_kjszlcJoUzPJSX2M",
            "sd_GTxLL7BSgflmmAnU",
            "sd_k7K2tzxGUvFc86Mv",
            "sd_lu26B3U4wCgDlEo6",
            "sd_RkpeFNrvdq1F13Kd",
            "sd_wRSliPR4YzX6CUQB",
            "sd_shglOSe4fQl81bmF"
        ],
        "selectCatchType": "selectednodes",
        "masternodeList": "",
        "ignoreList": "",
        "functionName": "sd_grOr55gguP36A9pi",
        "category": "General",
        "x": 98.89062976837158,
        "y": 1233.0000343322754,
        "wires": [
            [
                "sd_6RsoVepglStFa3tp"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_6RsoVepglStFa3tp",
        "type": "Script",
        "z": "sd_HJ7Z9bKjJTryM0NH",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Redirect back to login",
        "script": "bh.web.res.redirect('/api/login')",
        "functionName": "sd_6RsoVepglStFa3tp",
        "category": "Function",
        "x": 262.50000381469727,
        "y": 1231.0312690734863,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ids",
        "generated": true
    },
    {
        "id": "sd_XOZzrwXN8cbuNlEZ",
        "type": "HttpIn",
        "z": "sd_HJ7Z9bKjJTryM0NH",
        "viewType": "server",
        "nodeType": "start",
        "name": "Logout API",
        "path": "/logout",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "get",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "useDataModel": false,
        "dataModelIsArray": false,
        "uploadFileOptions": {},
        "erd": "",
        "erdName": "",
        "entity": "",
        "ref": "",
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "validateRequestUsingSwaggerDocs": false,
        "category": "HTTP",
        "x": 79.890625,
        "y": 1679.796875,
        "wires": [
            [
                "sd_qStc4ol0OADlRV5x"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "ids",
        "functionName": "sd_XOZzrwXN8cbuNlEZ"
    },
    {
        "id": "sd_qStc4ol0OADlRV5x",
        "type": "Session",
        "z": "sd_HJ7Z9bKjJTryM0NH",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "get",
        "data": "",
        "resultMapping": "bh.local.sessionData",
        "dataMapping": "",
        "functionName": "sd_qStc4ol0OADlRV5x",
        "category": "HTTP",
        "x": 249,
        "y": 1679.78125,
        "wires": [
            [
                "sd_VNdAlHerSQZCFxoG"
            ]
        ],
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.local",
                "value": "sessionData"
            },
            "dataMapping": {
                "type": "bh.input",
                "value": ""
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ids",
        "generated": true
    },
    {
        "id": "sd_VNdAlHerSQZCFxoG",
        "type": "Script",
        "z": "sd_HJ7Z9bKjJTryM0NH",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "\nbh.local.sessionExists = false;\nif (bh.local.sessionData && bh.local.sessionData.data && bh.local.sessionData.data.tokenset) {\n    bh.local.sessionData['data']['redirectTo'] = bh.input.query['redirectTo'];\n    bh.local.sessionData['data']['isMobile'] = bh.input.query['isMobile'];\n    bh.local.sessionExists = true;\n} else {\n    delete bh.local.sessionData['redirectTo'];\n}",
        "functionName": "sd_VNdAlHerSQZCFxoG",
        "category": "Function",
        "x": 413,
        "y": 1678.78125,
        "wires": [
            [
                "sd_BSxlleStZckCNgg8"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ids",
        "generated": true
    },
    {
        "id": "sd_0XhANCl5GJw51ExJ",
        "type": "Switch",
        "z": "sd_HJ7Z9bKjJTryM0NH",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Session exists ",
        "property": "sessionExists",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.sessionExists",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_0XhANCl5GJw51ExJ",
        "category": "Function",
        "x": 885,
        "y": 1680,
        "wires": [
            [
                "sd_lPzpaqJiwxhXkOwh"
            ],
            [
                "sd_Xtp5XRKjziU0678o"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ids",
        "generated": true
    },
    {
        "id": "sd_lPzpaqJiwxhXkOwh",
        "type": "Script",
        "z": "sd_HJ7Z9bKjJTryM0NH",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "await Promise.all([\n    bh.local.sessionData.data.tokenset.access_token ? bh.input.client.revoke(bh.local.sessionData.data.tokenset.access_token, 'access_token') : undefined,\n    bh.local.sessionData.data.tokenset.refresh_token ? bh.input.client.revoke(bh.local.sessionData.data.tokenset.refresh_token, 'refresh_token') : undefined,\n]);\n\nbh.local.res = {\n        'idsURL': url.format(Object.assign(url.parse(bh.input.client.issuer.end_session_endpoint), {\n            search: null,\n            query: {\n                id_token_hint: bh.local.sessionData.data.tokenset.id_token,\n                post_logout_redirect_uri: url.resolve(bh.web.req.href, '/api/logout/cb'),\n                client_id: settings.default['ids']['client_id']\n            },\n        })),\n        'sessionExists': true,\n}\n\n// Remove user info and tokenset before login redirect\nbh.local.sessionData.data.tokenset = null;\nbh.local.sessionData.data.userInfo = null;",
        "functionName": "sd_lPzpaqJiwxhXkOwh",
        "category": "Function",
        "x": 1045,
        "y": 1560,
        "wires": [
            [
                "sd_dCWCI7Lqpk6tk1KJ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ids",
        "generated": true
    },
    {
        "id": "sd_BSxlleStZckCNgg8",
        "type": "CallService",
        "z": "sd_HJ7Z9bKjJTryM0NH",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Get IDS client instance",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "serviceId": "sd_p6O4djQoUmhBm5O4",
            "serviceName": "idsutil",
            "id": "sd_p6O4djQoUmhBm5O4",
            "label": "idsutil"
        },
        "flow": {
            "flowId": "sd_hmQX2PElZQpapoFh",
            "flowName": "getIDSClientInstance"
        },
        "inputVariables": [
            {
                "key": "clientInstance",
                "map": true,
                "valueType": "bh.input",
                "value": ""
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "input",
                "key": "clientInstance",
                "valueType": "bh.input",
                "value": "client",
                "mapVarName": "clientInstance",
                "localVar": "bh.input.client"
            }
        ],
        "callService": "./idsutil",
        "startName": "getIDSClientInstance",
        "inputParams": [
            null
        ],
        "accept_bh": false,
        "functionName": "sd_BSxlleStZckCNgg8",
        "category": "General",
        "x": 645,
        "y": 1680,
        "wires": [
            [
                "sd_0XhANCl5GJw51ExJ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ids",
        "generated": true
    },
    {
        "id": "sd_CIMORkw8tEJnca4f",
        "type": "HttpOut",
        "z": "sd_HJ7Z9bKjJTryM0NH",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Send IDS logout Url",
        "headers": {},
        "responseBody": {
            "type": "bh.local",
            "value": "res",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": "200",
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "swaggerResponse": {},
        "responseMapping": {
            "status": 200,
            "obj": "bh.local.res",
            "send": "bh.local.res"
        },
        "dataModelIsArray": false,
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "erd": "",
        "entity": "",
        "ref": "",
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_CIMORkw8tEJnca4f",
        "category": "HTTP",
        "x": 1345,
        "y": 1680,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ids",
        "generated": true
    },
    {
        "id": "sd_Xtp5XRKjziU0678o",
        "type": "Script",
        "z": "sd_HJ7Z9bKjJTryM0NH",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.res = {\n        'sessionExists': false,\n}",
        "functionName": "sd_Xtp5XRKjziU0678o",
        "category": "Function",
        "x": 1113.250015258789,
        "y": 1790.5312767028809,
        "wires": [
            [
                "sd_CIMORkw8tEJnca4f"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ids",
        "generated": true
    },
    {
        "id": "sd_Wt1Ao2gumnczNeIF",
        "type": "HttpIn",
        "z": "sd_HJ7Z9bKjJTryM0NH",
        "viewType": "server",
        "nodeType": "start",
        "name": "Logout Callback API",
        "path": "/logout/cb",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "get",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "useDataModel": false,
        "dataModelIsArray": false,
        "uploadFileOptions": {},
        "erd": "",
        "erdName": "",
        "entity": "",
        "ref": "",
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "validateRequestUsingSwaggerDocs": false,
        "category": "HTTP",
        "x": 163.1406421661377,
        "y": 2441.0469074249268,
        "wires": [
            [
                "sd_OwHA5wPyERgOoaXJ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "ids",
        "functionName": "sd_Wt1Ao2gumnczNeIF"
    },
    {
        "id": "sd_OwHA5wPyERgOoaXJ",
        "type": "Session",
        "z": "sd_HJ7Z9bKjJTryM0NH",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "get",
        "data": "",
        "resultMapping": "bh.local.sessionData",
        "dataMapping": "",
        "functionName": "sd_OwHA5wPyERgOoaXJ",
        "category": "HTTP",
        "x": 347.2500171661377,
        "y": 2442.0312824249268,
        "wires": [
            [
                "sd_CP3TRyEXpfZl05c8"
            ]
        ],
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.local",
                "value": "sessionData"
            },
            "dataMapping": {
                "type": "bh.input",
                "value": ""
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ids",
        "generated": true
    },
    {
        "id": "sd_4bx3LT6gUYvt8Yt4",
        "type": "Switch",
        "z": "sd_HJ7Z9bKjJTryM0NH",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Check platform type",
        "property": "sessionData.data.isMobile",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.sessionData.data.isMobile",
        "rules": [
            {
                "t": "se",
                "v": "true",
                "vt": "str",
                "gv": "\"true\""
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_4bx3LT6gUYvt8Yt4",
        "category": "Function",
        "x": 665.2500171661377,
        "y": 2442.0312824249268,
        "wires": [
            [
                "sd_41jbGD804BDEYwnm"
            ],
            [
                "sd_kQPRV285ftCDwb1R"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ids",
        "generated": true
    },
    {
        "id": "sd_41jbGD804BDEYwnm",
        "type": "Script",
        "z": "sd_HJ7Z9bKjJTryM0NH",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.res = \n`<html>\n   <script>\n      var _timer;\n      _timer = setInterval(() => {\n                  if(window.webkit) {\n                      window.webkit.messageHandlers.cordova_iab.postMessage(JSON.stringify({'auth': 'success'}));\n                      clearInterval(_timer);\n                  }\n              }, 250);\n      \n   </script>\n</html>`;",
        "functionName": "sd_41jbGD804BDEYwnm",
        "category": "Function",
        "x": 850.2500171661377,
        "y": 2516.0312824249268,
        "wires": [
            [
                "sd_OdTC2FSpLmYxLj38"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ids",
        "generated": true
    },
    {
        "id": "sd_OdTC2FSpLmYxLj38",
        "type": "HttpOut",
        "z": "sd_HJ7Z9bKjJTryM0NH",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Send html response",
        "headers": {
            "Content-Security-Policy": "script 'sha256-j4HHWBMKh2PoLEAu017BWktgUmmL7VVMjnHuNWUHGOg='"
        },
        "responseBody": {
            "type": "bh.local",
            "value": "res",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": "200",
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "swaggerResponse": {},
        "responseMapping": {
            "status": 200,
            "obj": "bh.local.res",
            "send": "bh.local.res"
        },
        "dataModelIsArray": false,
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "erd": "",
        "entity": "",
        "ref": "",
        "editableListData": {
            "headers": [
                {
                    "key": "Content-Security-Policy",
                    "value": "script 'sha256-j4HHWBMKh2PoLEAu017BWktgUmmL7VVMjnHuNWUHGOg='",
                    "rowId": "sd_1rEodKaPhq3Yygas",
                    "valid": true
                }
            ]
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_OdTC2FSpLmYxLj38",
        "category": "HTTP",
        "x": 1083.2500171661377,
        "y": 2315.0312824249268,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ids",
        "generated": true
    },
    {
        "id": "sd_kQPRV285ftCDwb1R",
        "type": "Script",
        "z": "sd_HJ7Z9bKjJTryM0NH",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.redirectHeaders = {\n    location: bh.local.sessionData.data.redirectTo\n}",
        "functionName": "sd_kQPRV285ftCDwb1R",
        "category": "Function",
        "x": 849.2500171661377,
        "y": 2337.0312824249268,
        "wires": [
            [
                "sd_CsiWBI9SAEUsmHlZ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ids",
        "generated": true
    },
    {
        "id": "sd_CsiWBI9SAEUsmHlZ",
        "type": "HttpOut",
        "z": "sd_HJ7Z9bKjJTryM0NH",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Redirect back to app",
        "headers": {
            "type": "bh.local",
            "value": "redirectHeaders",
            "ssd_typedInputField": true
        },
        "responseBody": {
            "type": "literal",
            "value": "'redirecting'",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": "302",
            "ssd_typedInputField": true
        },
        "responseType": "txt",
        "swaggerResponse": {},
        "responseMapping": {
            "status": 302,
            "txt": "'redirecting'",
            "send": "'redirecting'"
        },
        "dataModelIsArray": false,
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "erd": "",
        "entity": "",
        "ref": "",
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Value",
            "cookies": "Map"
        },
        "functionName": "sd_CsiWBI9SAEUsmHlZ",
        "category": "HTTP",
        "x": 1089.2500171661377,
        "y": 2516.0312824249268,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ids",
        "generated": true
    },
    {
        "id": "sd_CP3TRyEXpfZl05c8",
        "type": "Session",
        "z": "sd_HJ7Z9bKjJTryM0NH",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "destroy",
        "data": "",
        "resultMapping": "",
        "dataMapping": "",
        "functionName": "sd_CP3TRyEXpfZl05c8",
        "category": "HTTP",
        "x": 519.2500171661377,
        "y": 2442.0312824249268,
        "wires": [
            [
                "sd_4bx3LT6gUYvt8Yt4"
            ]
        ],
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.input",
                "value": ""
            },
            "dataMapping": {
                "type": "bh.input",
                "value": ""
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ids",
        "generated": true
    },
    {
        "id": "sd_RxcNN8rfMWkvVPkv",
        "type": "MiddlewareStart",
        "z": "sd_HJ7Z9bKjJTryM0NH",
        "viewType": "server",
        "nodeType": "start",
        "name": "Authorize",
        "inputs": 0,
        "outputs": 1,
        "category": "HTTP",
        "x": 80.8125,
        "y": 3182.71875,
        "wires": [
            [
                "sd_am56HuVosXkSHcgB"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "ids",
        "functionName": "sd_RxcNN8rfMWkvVPkv"
    },
    {
        "id": "sd_Fq9rVSjUwqsiAgkw",
        "type": "Session",
        "z": "sd_HJ7Z9bKjJTryM0NH",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "get",
        "data": "",
        "resultMapping": "bh.local.sessionData",
        "dataMapping": "",
        "functionName": "sd_Fq9rVSjUwqsiAgkw",
        "category": "HTTP",
        "x": 386,
        "y": 3178.78125,
        "wires": [
            [
                "sd_HrWgH4u7dvjTen0Q"
            ]
        ],
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.local",
                "value": "sessionData"
            },
            "dataMapping": {
                "type": "bh.input",
                "value": ""
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ids",
        "generated": true
    },
    {
        "id": "sd_aLscPEoSZCUoqacZ",
        "type": "Switch",
        "z": "sd_HJ7Z9bKjJTryM0NH",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Check if session exists",
        "property": "sessionExists",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.sessionExists",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_aLscPEoSZCUoqacZ",
        "category": "Function",
        "x": 679,
        "y": 3173.78125,
        "wires": [
            [
                "sd_zpefc8Kqb8cjJ1VL"
            ],
            [
                "sd_X35GUiP7gN5BTorp"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ids",
        "generated": true
    },
    {
        "id": "sd_X35GUiP7gN5BTorp",
        "type": "Switch",
        "z": "sd_HJ7Z9bKjJTryM0NH",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Check if it is the user info API.",
        "property": "path",
        "propertyType": "bh.input",
        "propertyGv": "bh.input.path",
        "rules": [
            {
                "t": "cont",
                "v": "/user/info",
                "vt": "str",
                "gv": "\"/user/info\""
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_X35GUiP7gN5BTorp",
        "category": "Function",
        "x": 641,
        "y": 3388.78125,
        "wires": [
            [
                "sd_TgV8wtUNnfLMSVMB"
            ],
            [
                "sd_LG14yU1sOSfdBIEC"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ids",
        "generated": true
    },
    {
        "id": "sd_PFnjdCmrQfb0MCA1",
        "type": "HttpOut",
        "z": "sd_HJ7Z9bKjJTryM0NH",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Send the session not present response",
        "headers": {},
        "responseBody": {
            "type": "bh.local",
            "value": "res",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": "403",
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "swaggerResponse": {},
        "responseMapping": {
            "status": 403,
            "obj": "bh.local.res",
            "send": "bh.local.res"
        },
        "dataModelIsArray": false,
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "erd": "",
        "entity": "",
        "ref": "",
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_PFnjdCmrQfb0MCA1",
        "category": "HTTP",
        "x": 1205,
        "y": 3366.78125,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ids",
        "generated": true
    },
    {
        "id": "sd_TgV8wtUNnfLMSVMB",
        "type": "Script",
        "z": "sd_HJ7Z9bKjJTryM0NH",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.res = { message: 'Session expired' };",
        "functionName": "sd_TgV8wtUNnfLMSVMB",
        "category": "Function",
        "x": 892.890625,
        "y": 3386.78125,
        "wires": [
            [
                "sd_PFnjdCmrQfb0MCA1"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ids",
        "generated": true
    },
    {
        "id": "sd_LG14yU1sOSfdBIEC",
        "type": "Script",
        "z": "sd_HJ7Z9bKjJTryM0NH",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.res = { code: 'NO_SESSION', message: 'Session not present' };",
        "functionName": "sd_LG14yU1sOSfdBIEC",
        "category": "Function",
        "x": 885,
        "y": 3522.8125,
        "wires": [
            [
                "sd_PFnjdCmrQfb0MCA1"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ids",
        "generated": true
    },
    {
        "id": "sd_MhP6GdGAfcaE9EcF",
        "type": "Switch",
        "z": "sd_HJ7Z9bKjJTryM0NH",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Token exists after refresh",
        "property": "newSession",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.newSession",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_MhP6GdGAfcaE9EcF",
        "category": "Function",
        "x": 846,
        "y": 2953.78125,
        "wires": [
            [
                "sd_krcwnTPZnCy8JZVa"
            ],
            [
                "sd_A9X34K9suBpWZ1Z0"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ids",
        "generated": true
    },
    {
        "id": "sd_GKlaHYP4PQRL5OCr",
        "type": "MiddlewareEnd",
        "z": "sd_HJ7Z9bKjJTryM0NH",
        "viewType": "server",
        "nodeType": "flow",
        "name": "Authorize end",
        "headers": {},
        "responseBody": {
            "type": "literal",
            "value": "'end'",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": "200",
            "ssd_typedInputField": true
        },
        "responseType": "next",
        "responseMapping": {
            "status": 200,
            "next": "'end'"
        },
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "editableListData": {
            "headers": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_GKlaHYP4PQRL5OCr",
        "category": "HTTP",
        "x": 1484,
        "y": 2956.703125,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ids",
        "generated": true
    },
    {
        "id": "sd_7t1dEkg7cWm0re8P",
        "type": "Script",
        "z": "sd_HJ7Z9bKjJTryM0NH",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.res = { code: 'TOKEN_EXPIRED', message: 'Token invalid or access revoked' };",
        "functionName": "sd_7t1dEkg7cWm0re8P",
        "category": "Function",
        "x": 884,
        "y": 3259.78125,
        "wires": [
            [
                "sd_PFnjdCmrQfb0MCA1"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ids",
        "generated": true
    },
    {
        "id": "sd_zpefc8Kqb8cjJ1VL",
        "type": "CallService",
        "z": "sd_HJ7Z9bKjJTryM0NH",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Call handleTokenExpiry",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "serviceId": "sd_p6O4djQoUmhBm5O4",
            "serviceName": "idsutil",
            "id": "sd_p6O4djQoUmhBm5O4",
            "label": "idsutil"
        },
        "flow": {
            "flowId": "sd_mqLmBTJwFfRYZgE3",
            "flowName": "handleTokenExpiry"
        },
        "inputVariables": [
            {
                "key": "existingSession",
                "map": true,
                "valueType": "bh.local",
                "value": "sessionData"
            },
            {
                "key": "newSession",
                "map": true,
                "valueType": "bh.input",
                "value": ""
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "input",
                "key": "newSession",
                "valueType": "bh.local",
                "value": "newSession",
                "mapVarName": "newSession",
                "localVar": "bh.local.newSession"
            }
        ],
        "callService": "./idsutil",
        "startName": "handleTokenExpiry",
        "inputParams": [
            "bh.local.sessionData",
            null
        ],
        "accept_bh": false,
        "functionName": "sd_zpefc8Kqb8cjJ1VL",
        "category": "General",
        "x": 631,
        "y": 2951.78125,
        "wires": [
            [
                "sd_MhP6GdGAfcaE9EcF"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ids",
        "generated": true
    },
    {
        "id": "sd_am56HuVosXkSHcgB",
        "type": "Script",
        "z": "sd_HJ7Z9bKjJTryM0NH",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local = {\n    \n}",
        "functionName": "sd_am56HuVosXkSHcgB",
        "category": "Function",
        "x": 227.890625,
        "y": 3180.78125,
        "wires": [
            [
                "sd_Fq9rVSjUwqsiAgkw"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ids",
        "generated": true
    },
    {
        "id": "sd_HrWgH4u7dvjTen0Q",
        "type": "Script",
        "z": "sd_HJ7Z9bKjJTryM0NH",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.local.sessionExists = false;\n\nif (bh.local.sessionData && bh.local.sessionData.data && bh.local.sessionData.data.tokenset &&\n    bh.local.sessionData.data.tokenset.access_token && bh.local.sessionData.data.tokenset.refresh_token) {\n    bh.local.sessionExists = true;\n}",
        "functionName": "sd_HrWgH4u7dvjTen0Q",
        "category": "Function",
        "x": 550,
        "y": 3178.78125,
        "wires": [
            [
                "sd_aLscPEoSZCUoqacZ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ids",
        "generated": true
    },
    {
        "id": "sd_krcwnTPZnCy8JZVa",
        "type": "Session",
        "z": "sd_HJ7Z9bKjJTryM0NH",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "destroy",
        "data": "",
        "resultMapping": "",
        "dataMapping": "",
        "functionName": "sd_krcwnTPZnCy8JZVa",
        "category": "HTTP",
        "x": 887,
        "y": 3093.78125,
        "wires": [
            [
                "sd_7t1dEkg7cWm0re8P"
            ]
        ],
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.input",
                "value": ""
            },
            "dataMapping": {
                "type": "bh.input",
                "value": ""
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ids",
        "generated": true
    },
    {
        "id": "sd_A9X34K9suBpWZ1Z0",
        "type": "Switch",
        "z": "sd_HJ7Z9bKjJTryM0NH",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Update session if token rotated",
        "property": "newSession.rotated",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.newSession.rotated",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_A9X34K9suBpWZ1Z0",
        "category": "Function",
        "x": 1051,
        "y": 2956.78125,
        "wires": [
            [
                "sd_QhlMMJJRCXZqziMQ"
            ],
            [
                "sd_GKlaHYP4PQRL5OCr"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ids",
        "generated": true
    },
    {
        "id": "sd_zMHBXMgo6wj7sFbO",
        "type": "Session",
        "z": "sd_HJ7Z9bKjJTryM0NH",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "update",
        "data": "",
        "resultMapping": "bh.local.newSession",
        "dataMapping": "bh.local.newSession",
        "functionName": "sd_zMHBXMgo6wj7sFbO",
        "category": "HTTP",
        "x": 1331,
        "y": 2827.78125,
        "wires": [
            [
                "sd_GKlaHYP4PQRL5OCr"
            ]
        ],
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.local",
                "value": "newSession"
            },
            "dataMapping": {
                "type": "bh.local",
                "value": "newSession"
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ids",
        "generated": true
    },
    {
        "id": "sd_QhlMMJJRCXZqziMQ",
        "type": "Script",
        "z": "sd_HJ7Z9bKjJTryM0NH",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "delete bh.local.newSession.rotated;",
        "functionName": "sd_QhlMMJJRCXZqziMQ",
        "category": "Function",
        "x": 1192,
        "y": 2827.78125,
        "wires": [
            [
                "sd_zMHBXMgo6wj7sFbO"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ids",
        "generated": true
    },
    {
        "id": "sd_l8WS7g7zFvnpnIlg",
        "type": "Comments",
        "z": "sd_HJ7Z9bKjJTryM0NH",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Idenity Server Login API",
        "comments": "<p>API used to authenticate users.</p>",
        "category": "General",
        "x": 685,
        "y": 58.78125,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "ids",
        "functionName": "sd_l8WS7g7zFvnpnIlg"
    },
    {
        "id": "sd_Fbs2OtQxyikmixUu",
        "type": "Comments",
        "z": "sd_HJ7Z9bKjJTryM0NH",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Flow to add href to bh of the Origin",
        "comments": "",
        "category": "General",
        "x": 664,
        "y": 590.78125,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "ids",
        "functionName": "sd_Fbs2OtQxyikmixUu"
    },
    {
        "id": "sd_Ewvc0YlVNOfq0h8g",
        "type": "Comments",
        "z": "sd_HJ7Z9bKjJTryM0NH",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Login Callback API",
        "comments": "<p>After authentication, this is the API called by IDS to get Access token and user info</p>",
        "category": "General",
        "x": 685,
        "y": 897.2265625,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "ids",
        "functionName": "sd_Ewvc0YlVNOfq0h8g"
    },
    {
        "id": "sd_omvKUYcIdhi7R0jv",
        "type": "Comments",
        "z": "sd_HJ7Z9bKjJTryM0NH",
        "viewType": "common",
        "nodeType": "flow",
        "name": "IDS Logout API",
        "comments": "<p>API to redirect the user to IDS Logout page</p>",
        "category": "General",
        "x": 720.0000114440918,
        "y": 1527.226583480835,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "ids",
        "functionName": "sd_omvKUYcIdhi7R0jv"
    },
    {
        "id": "sd_6puBLKF56vxP9cPD",
        "type": "Comments",
        "z": "sd_HJ7Z9bKjJTryM0NH",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Fetch user info",
        "comments": "The API called by neutrinos-oauth-client module internally to fetch user info.",
        "category": "General",
        "x": 651.2500095367432,
        "y": 1947.2265892028809,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "ids",
        "functionName": "sd_6puBLKF56vxP9cPD"
    },
    {
        "id": "sd_KwUJccjAZaT9dz5T",
        "type": "Comments",
        "z": "sd_HJ7Z9bKjJTryM0NH",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Redirect the user back to Login",
        "comments": "<p>Redirect back to /login if the flow cannot fetch user info or access token.</p>",
        "category": "General",
        "x": 177.50000381469727,
        "y": 1310.9765815734863,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "ids",
        "functionName": "sd_KwUJccjAZaT9dz5T"
    },
    {
        "id": "sd_lvnuwewQaQD5CyDg",
        "type": "Comments",
        "z": "sd_HJ7Z9bKjJTryM0NH",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Check Authorization",
        "comments": "Use this middleware flow for all authorized APIs.",
        "category": "General",
        "x": 813.75,
        "y": 2805.9765625,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "ids",
        "functionName": "sd_lvnuwewQaQD5CyDg"
    },
    {
        "id": "sd_HUi8WGBe2QhifAi6",
        "type": "Comments",
        "z": "sd_HJ7Z9bKjJTryM0NH",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Logout Callback API",
        "comments": "<p>The API redirected by IDS to destroy the user session.</p>",
        "category": "General",
        "x": 581.25,
        "y": 2288.4765625,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "ids",
        "functionName": "sd_HUi8WGBe2QhifAi6"
    },
    {
        "id": "sd_5LHpi6prqQS1cdVJ",
        "type": "Catch",
        "z": "sd_HJ7Z9bKjJTryM0NH",
        "viewType": "common",
        "nodeType": "start",
        "name": "Catch HandleTokenExpiry",
        "selectedNodes": [
            "sd_zpefc8Kqb8cjJ1VL"
        ],
        "selectCatchType": "selectednodes",
        "masternodeList": "",
        "ignoreList": "",
        "functionName": "sd_5LHpi6prqQS1cdVJ",
        "category": "General",
        "x": 765,
        "y": 3260,
        "wires": [
            [
                "sd_7t1dEkg7cWm0re8P"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "ids"
    },
    {
        "id": "sd_dCWCI7Lqpk6tk1KJ",
        "type": "Session",
        "z": "sd_HJ7Z9bKjJTryM0NH",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "operationType": "update",
        "data": "",
        "resultMapping": "bh.local.session",
        "dataMapping": "bh.local.sessionData.data",
        "functionName": "sd_dCWCI7Lqpk6tk1KJ",
        "category": "HTTP",
        "x": 1205,
        "y": 1560,
        "wires": [
            [
                "sd_CIMORkw8tEJnca4f"
            ]
        ],
        "__ssdTypeInputs__": {
            "resultMapping": {
                "type": "bh.local",
                "value": "session",
                "constant": false
            },
            "dataMapping": {
                "type": "bh.local",
                "value": "sessionData.data",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ids",
        "generated": true
    }
]
