neutrinos-hello-world/designs/pages/Cards.json
[
    {
        "id": "sd_Ik3z2hNa6j5FY6bx",
        "type": "tab",
        "createdDate": "2023-08-03T06:27:56.676Z",
        "label": "Cards",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "CardsComponent"
    },
    {
        "id": "sd_sGVN05S8N3a2lYsA",
        "type": "OnInit",
        "z": "sd_Ik3z2hNa6j5FY6bx",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_sGVN05S8N3a2lYsA",
        "category": "Lifecycle Events",
        "x": 65,
        "y": 60,
        "wires": [
            [
                "sd_jrRYuJyyPXWfCP3w"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "CardsComponent"
    },
    {
        "id": "sd_jrRYuJyyPXWfCP3w",
        "type": "PageVariables",
        "z": "sd_Ik3z2hNa6j5FY6bx",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [],
        "functionName": "sd_jrRYuJyyPXWfCP3w",
        "category": "Function",
        "x": 205,
        "y": 60,
        "wires": [
            [
                "sd_1Re9AOmyyMEyayq5"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "CardsComponent",
        "generated": true
    },
    {
        "id": "sd_gJxgSuluZ5QItDzX",
        "type": "Script",
        "z": "sd_Ik3z2hNa6j5FY6bx",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.categories = ['maths', 'science'];\n\npage.book = {\n    'title': '',\n    'category': '',\n    'date': ''\n}\n\npage.numLength = 3;\n\npage.books = new page.formGroup({\n    'bookTitle': new page.formControl('', [page.validators.required, page.validators.minLength(3)]),\n    'bookSelect': new page.formControl(''),\n    'bookDate': new page.formControl('')\n})",
        "functionName": "sd_gJxgSuluZ5QItDzX",
        "category": "Function",
        "x": 505,
        "y": 60,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "CardsComponent",
        "generated": true
    },
    {
        "id": "sd_Th9oYDxiGf0qHku1",
        "type": "PageStart",
        "z": "sd_Ik3z2hNa6j5FY6bx",
        "viewType": "pages",
        "nodeType": "start",
        "name": "on submit",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "onSubmit",
        "category": "General",
        "x": 60,
        "y": 200,
        "wires": [
            [
                "sd_bUDIOjrIZK3ProHr"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "CardsComponent"
    },
    {
        "id": "sd_bUDIOjrIZK3ProHr",
        "type": "Log",
        "z": "sd_Ik3z2hNa6j5FY6bx",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 0,
        "logObject": "this.page.book",
        "functionName": "sd_bUDIOjrIZK3ProHr",
        "category": "General",
        "x": 200,
        "y": 200,
        "wires": [],
        "__ssdTypeInputs__": {
            "logObject": {
                "type": "this.page",
                "value": "book",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "CardsComponent",
        "generated": true
    },
    {
        "id": "sd_1Re9AOmyyMEyayq5",
        "type": "UseDependency",
        "z": "sd_Ik3z2hNa6j5FY6bx",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "use1",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "FormControl",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "formControl"
                },
                "injectable": false
            },
            {
                "textIp": "FormGroup",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "formGroup"
                },
                "injectable": false
            },
            {
                "textIp": "Validators",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "validators"
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/forms",
        "serviceDesignerType": "pages",
        "functionName": "use1",
        "category": "Function",
        "x": 345,
        "y": 60,
        "wires": [
            [
                "sd_gJxgSuluZ5QItDzX"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "CardsComponent",
        "generated": true
    },
    {
        "id": "sd_ouMrtTZTGpIGaTyU",
        "type": "PageStart",
        "z": "sd_Ik3z2hNa6j5FY6bx",
        "viewType": "pages",
        "nodeType": "start",
        "name": "formSubmit",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "formSubmit",
        "category": "General",
        "x": 60,
        "y": 360,
        "wires": [
            [
                "sd_Rsz1eB4edTnGHV8U"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "CardsComponent"
    },
    {
        "id": "sd_bk7f48UHbuCx3e4q",
        "type": "Log",
        "z": "sd_Ik3z2hNa6j5FY6bx",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 0,
        "logObject": "this.page.response",
        "functionName": "sd_bk7f48UHbuCx3e4q",
        "category": "General",
        "x": 525,
        "y": 360,
        "wires": [],
        "__ssdTypeInputs__": {
            "logObject": {
                "type": "this.page",
                "value": "response",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "CardsComponent",
        "generated": true
    },
    {
        "id": "sd_Rsz1eB4edTnGHV8U",
        "type": "PageCallService",
        "z": "sd_Ik3z2hNa6j5FY6bx",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_fwssyW0CyBk692ak",
            "type": "tab",
            "createdDate": "2023-08-02T09:55:15.113Z",
            "label": "books",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_qwoDyNeJc5JIDEUB",
            "flowName": "postTitle"
        },
        "inputVariables": [
            {
                "key": "inputValues",
                "map": true,
                "valueType": "this.page",
                "value": "books.value"
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "response",
                "valueType": "this.page",
                "value": "response",
                "mapVarName": "response",
                "localVar": "this.page.response"
            }
        ],
        "serviceImportPath": "app/sd-services/books",
        "startName": "postTitle",
        "inputParams": [
            "this.page.books.value"
        ],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_Rsz1eB4edTnGHV8U",
        "category": "General",
        "x": 205,
        "y": 360,
        "wires": [
            [
                "sd_ntw6SMKAzrXAzABA"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "CardsComponent",
        "generated": true
    },
    {
        "id": "sd_ntw6SMKAzrXAzABA",
        "type": "SnackBar",
        "z": "sd_Ik3z2hNa6j5FY6bx",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Data received successfully"
        },
        "action": {
            "type": "str",
            "value": "ok"
        },
        "duration": {
            "type": "num",
            "value": "5000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_ntw6SMKAzrXAzABA",
        "category": "General",
        "x": 365,
        "y": 360,
        "wires": [
            [
                "sd_bk7f48UHbuCx3e4q"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "CardsComponent",
        "generated": true
    }
]
