neutrinos-hello-world/designs/pages/task_add.json
[
    {
        "id": "sd_UOVzlvKua9puX8Xf",
        "type": "tab",
        "createdDate": "2023-08-06T04:15:39.478Z",
        "label": "task_add",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "task_addComponent"
    },
    {
        "id": "sd_acz5OFnAK3APeQ1X",
        "type": "OnInit",
        "z": "sd_UOVzlvKua9puX8Xf",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_acz5OFnAK3APeQ1X",
        "category": "Lifecycle Events",
        "x": 65,
        "y": 100,
        "wires": [
            [
                "sd_6RIsjF6eXWhUbrRv"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "task_addComponent"
    },
    {
        "id": "sd_6RIsjF6eXWhUbrRv",
        "type": "PageVariables",
        "z": "sd_UOVzlvKua9puX8Xf",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [],
        "functionName": "sd_6RIsjF6eXWhUbrRv",
        "category": "Function",
        "x": 205,
        "y": 100,
        "wires": [
            [
                "sd_HGmKjZ3W1bqiElhO"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "task_addComponent",
        "generated": true
    },
    {
        "id": "sd_HGmKjZ3W1bqiElhO",
        "type": "UseDependency",
        "z": "sd_UOVzlvKua9puX8Xf",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "FormControl",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "formControl"
                },
                "injectable": false
            },
            {
                "textIp": "FormGroup",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "formGroup"
                },
                "injectable": false
            },
            {
                "textIp": "Validators",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "validators"
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/forms",
        "serviceDesignerType": "pages",
        "functionName": "sd_HGmKjZ3W1bqiElhO",
        "category": "Function",
        "x": 345,
        "y": 100,
        "wires": [
            [
                "sd_lpfh5TNZnwUxnlLU"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "task_addComponent",
        "generated": true
    },
    {
        "id": "sd_lpfh5TNZnwUxnlLU",
        "type": "Script",
        "z": "sd_UOVzlvKua9puX8Xf",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.priority = ['High', 'Medium', 'Low'];\npage.status_a = ['Pending', 'InProgress', 'Completed']\n\npage.addForm = new page.formGroup({\n    'name': new page.formControl('', [page.validators.required, page.validators.minLength(3), page.validators.maxLength(30)]),\n    'description': new page.formControl('', [page.validators.required, page.validators.minLength(3), page.validators.maxLength(30)]),\n    'due_date': new page.formControl('', [page.validators.required]),\n    'priority': new page.formControl('', [page.validators.required]),\n    'status_a': new page.formControl('', [page.validators.required])\n})\n\nconsole.log(page.locales);\n\npage.names = page.locales.keys;\n\npage.options = Object.entries(page.locales.languages)\nconsole.log(page.options);",
        "functionName": "sd_lpfh5TNZnwUxnlLU",
        "category": "Function",
        "x": 505,
        "y": 100,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "task_addComponent",
        "generated": true
    },
    {
        "id": "sd_Kzw5IJVlA9IOlnVG",
        "type": "PageStart",
        "z": "sd_UOVzlvKua9puX8Xf",
        "viewType": "pages",
        "nodeType": "start",
        "name": "addData",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "addData",
        "category": "General",
        "x": 65,
        "y": 260,
        "wires": [
            [
                "sd_SKMOA39HdoOBsuoe"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "task_addComponent"
    },
    {
        "id": "sd_YD16PVYJRogcdfCo",
        "type": "PageCallService",
        "z": "sd_UOVzlvKua9puX8Xf",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_4CBWUeicfjqRkMYB",
            "type": "tab",
            "createdDate": "2023-08-05T12:01:23.289Z",
            "label": "tasks",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_h6RuJ9MLShEAskVS",
            "flowName": "addTask"
        },
        "inputVariables": [
            {
                "key": "inputValues",
                "map": true,
                "valueType": "this.page",
                "value": "addForm.value"
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "response",
                "valueType": "this.page",
                "value": "response",
                "mapVarName": "response",
                "localVar": "this.page.response"
            }
        ],
        "serviceImportPath": "app/sd-services/tasks",
        "startName": "addTask",
        "inputParams": [
            "this.page.addForm.value"
        ],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_YD16PVYJRogcdfCo",
        "category": "General",
        "x": 485,
        "y": 200,
        "wires": [
            [
                "sd_xTpNZdYMKPU8WQyo"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "task_addComponent",
        "generated": true
    },
    {
        "id": "sd_xTpNZdYMKPU8WQyo",
        "type": "SnackBar",
        "z": "sd_UOVzlvKua9puX8Xf",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "this.page",
            "value": "response"
        },
        "action": {
            "type": "str",
            "value": "ok"
        },
        "duration": {
            "type": "num",
            "value": "5000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_xTpNZdYMKPU8WQyo",
        "category": "General",
        "x": 605,
        "y": 200,
        "wires": [
            [
                "sd_qoTOphWXYtnUmBkk"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "task_addComponent",
        "generated": true
    },
    {
        "id": "sd_qoTOphWXYtnUmBkk",
        "type": "Navigation",
        "z": "sd_UOVzlvKua9puX8Xf",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/task-home/task-data",
        "pathMap": "",
        "pathparams": "",
        "pathparamsMap": "",
        "qparams": "",
        "qparamsMap": "",
        "qparamsArray": "",
        "resultMapping": "",
        "functionName": "sd_qoTOphWXYtnUmBkk",
        "category": "Navigation",
        "x": 765,
        "y": 200,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "task_addComponent",
        "generated": true
    },
    {
        "id": "sd_hGAl8SfJY62ot4EP",
        "type": "PageStart",
        "z": "sd_UOVzlvKua9puX8Xf",
        "viewType": "pages",
        "nodeType": "start",
        "name": "logout",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "logout",
        "category": "General",
        "x": 65,
        "y": 420,
        "wires": [
            [
                "sd_fFTr670jZZoRmBMG"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "task_addComponent"
    },
    {
        "id": "sd_MlZBsDYwyjqKjV1d",
        "type": "Log",
        "z": "sd_UOVzlvKua9puX8Xf",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 0,
        "logObject": "bh.system",
        "functionName": "sd_MlZBsDYwyjqKjV1d",
        "category": "General",
        "x": 350,
        "y": 420,
        "wires": [],
        "__ssdTypeInputs__": {
            "logObject": {
                "type": "bh",
                "value": "system",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "task_addComponent",
        "generated": true
    },
    {
        "id": "sd_fFTr670jZZoRmBMG",
        "type": "Script",
        "z": "sd_UOVzlvKua9puX8Xf",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.system.oauthService.logout();",
        "functionName": "sd_fFTr670jZZoRmBMG",
        "category": "Function",
        "x": 225,
        "y": 420,
        "wires": [
            [
                "sd_MlZBsDYwyjqKjV1d"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "task_addComponent",
        "generated": true
    },
    {
        "id": "sd_B9r9NT5sm1xNPfv1",
        "type": "PageStart",
        "z": "sd_UOVzlvKua9puX8Xf",
        "viewType": "pages",
        "nodeType": "start",
        "name": "language change",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "language",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "languageChange",
        "category": "General",
        "x": 65,
        "y": 520,
        "wires": [
            [
                "sd_8tycdbOMjNJuoRAk"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "task_addComponent"
    },
    {
        "id": "sd_8tycdbOMjNJuoRAk",
        "type": "Script",
        "z": "sd_UOVzlvKua9puX8Xf",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(bh.input.language);\n\npage.locales.language = bh.input.language",
        "functionName": "sd_8tycdbOMjNJuoRAk",
        "category": "Function",
        "x": 205,
        "y": 520,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "task_addComponent",
        "generated": true
    },
    {
        "id": "sd_GmeGKh0696zCLDJD",
        "type": "OpenDialog",
        "z": "sd_UOVzlvKua9puX8Xf",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 4,
        "flow": {
            "flowId": "sd_XXNHtS1riNIyBC5s",
            "label": "dialog"
        },
        "relativePath": "app/components/dialog",
        "data": "this.page.dialogData",
        "ariaDescribedBy": "this.page",
        "ariaLabel": "this.page",
        "ariaLabelledBy": "this.page",
        "autoFocus": "this.page",
        "backdropClass": "this.page",
        "closeOnNavigation": "this.page",
        "direction": "this.page",
        "disableClose": "this.page",
        "hasBackdrop": "this.page",
        "height": "this.page",
        "maxHeight": "this.page",
        "minHeight": "this.page",
        "width": "this.page",
        "maxWidth": "this.page",
        "minWidth": "this.page",
        "panelClass": "this.page",
        "position": "this.page",
        "restoreFocus": "this.page",
        "role": "this.page",
        "resultMapping": "this.page.status",
        "functionName": "sd_GmeGKh0696zCLDJD",
        "category": "Dialog",
        "x": 525,
        "y": 740,
        "wires": [
            [],
            [
                "sd_78tB3vNKLWIHO6aX"
            ],
            [],
            []
        ],
        "__ssdTypeInputs__": {
            "data": {
                "type": "this.page",
                "value": "dialogData",
                "constant": false
            },
            "ariaDescribedBy": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "ariaLabel": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "ariaLabelledBy": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "autoFocus": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "backdropClass": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "closeOnNavigation": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "direction": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "disableClose": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "hasBackdrop": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "height": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "maxHeight": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "minHeight": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "width": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "maxWidth": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "minWidth": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "panelClass": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "position": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "restoreFocus": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "role": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "resultMapping": {
                "type": "this.page",
                "value": "status",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "task_addComponent"
    },
    {
        "id": "sd_SKMOA39HdoOBsuoe",
        "type": "Script",
        "z": "sd_UOVzlvKua9puX8Xf",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.dialogData = {\n    'header': 'Task Status Must be Pending',\n    'content': 'Dear Gopala Krishna, Welcome to the training',\n    'positiveAction': 'Yes',\n    'negativeAction': 'No',\n    'priority': 'welcome',\n    'allow': 'yes'\n}\n\npage.next_status = page.addForm.value.status_a;",
        "functionName": "sd_SKMOA39HdoOBsuoe",
        "category": "Function",
        "x": 220,
        "y": 260,
        "wires": [
            [
                "sd_9xbjo2oLjqvdwKIu"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "task_addComponent",
        "generated": true
    },
    {
        "id": "sd_UwYwgEnZmIjfSSHZ",
        "type": "Script",
        "z": "sd_UOVzlvKua9puX8Xf",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log(page.status);",
        "functionName": "sd_UwYwgEnZmIjfSSHZ",
        "category": "Function",
        "x": 885,
        "y": 720,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "task_addComponent"
    },
    {
        "id": "sd_78tB3vNKLWIHO6aX",
        "type": "PageSwitch",
        "z": "sd_UOVzlvKua9puX8Xf",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "status",
        "propertyType": "this.page",
        "propertyGv": "this.page.status",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_78tB3vNKLWIHO6aX",
        "category": "Function",
        "x": 705,
        "y": 740,
        "wires": [
            [
                "sd_GmeGKh0696zCLDJD"
            ],
            [
                "sd_UwYwgEnZmIjfSSHZ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "task_addComponent"
    },
    {
        "id": "sd_RaCSTCbaSKm4KxDr",
        "type": "OpenDialog",
        "z": "sd_UOVzlvKua9puX8Xf",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 4,
        "flow": {
            "flowId": "sd_2ymBiWkC5USeGupg",
            "label": "dialog_pending"
        },
        "relativePath": "app/components/dialog_pending",
        "data": "this.page.dialogData",
        "ariaDescribedBy": "this.page",
        "ariaLabel": "this.page",
        "ariaLabelledBy": "this.page",
        "autoFocus": "this.page",
        "backdropClass": "this.page",
        "closeOnNavigation": "this.page",
        "direction": "this.page",
        "disableClose": "this.page",
        "hasBackdrop": "this.page",
        "height": "this.page",
        "maxHeight": "this.page",
        "minHeight": "this.page",
        "width": "this.page",
        "maxWidth": "this.page",
        "minWidth": "this.page",
        "panelClass": "this.page",
        "position": "this.page",
        "restoreFocus": "this.page",
        "role": "this.page",
        "resultMapping": "this.page.status_b",
        "functionName": "sd_RaCSTCbaSKm4KxDr",
        "category": "Dialog",
        "x": 485,
        "y": 440,
        "wires": [
            [],
            [
                "sd_MMLHmGgt6hJ3t2JN"
            ],
            [],
            []
        ],
        "__ssdTypeInputs__": {
            "data": {
                "type": "this.page",
                "value": "dialogData",
                "constant": false
            },
            "ariaDescribedBy": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "ariaLabel": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "ariaLabelledBy": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "autoFocus": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "backdropClass": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "closeOnNavigation": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "direction": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "disableClose": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "hasBackdrop": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "height": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "maxHeight": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "minHeight": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "width": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "maxWidth": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "minWidth": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "panelClass": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "position": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "restoreFocus": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "role": {
                "type": "this.page",
                "value": "",
                "constant": false
            },
            "resultMapping": {
                "type": "this.page",
                "value": "status_b",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "task_addComponent",
        "generated": true
    },
    {
        "id": "sd_MMLHmGgt6hJ3t2JN",
        "type": "PageSwitch",
        "z": "sd_UOVzlvKua9puX8Xf",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "status_b?.status",
        "propertyType": "this.page",
        "propertyGv": "this.page.status_b?.status",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 1,
        "functionName": "sd_MMLHmGgt6hJ3t2JN",
        "category": "Function",
        "x": 605,
        "y": 340,
        "wires": [
            [
                "sd_GVIRL9pb4mK5IjX9"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "task_addComponent",
        "generated": true
    },
    {
        "id": "sd_GVIRL9pb4mK5IjX9",
        "type": "Script",
        "z": "sd_UOVzlvKua9puX8Xf",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "if(page.status_b?.status_b === 'Pending'){\n    bh.status = true;\n}\nelse{\n    bh.status = false;\n}",
        "functionName": "sd_GVIRL9pb4mK5IjX9",
        "category": "Function",
        "x": 745,
        "y": 340,
        "wires": [
            [
                "sd_fqlf6msmh0d2WL7s"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "task_addComponent",
        "generated": true
    },
    {
        "id": "sd_9xbjo2oLjqvdwKIu",
        "type": "PageSwitch",
        "z": "sd_UOVzlvKua9puX8Xf",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "next_status",
        "propertyType": "this.page",
        "propertyGv": "this.page.next_status",
        "rules": [
            {
                "t": "se",
                "v": "Pending",
                "vt": "str",
                "gv": "\"Pending\""
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_9xbjo2oLjqvdwKIu",
        "category": "Function",
        "x": 360,
        "y": 260,
        "wires": [
            [
                "sd_YD16PVYJRogcdfCo"
            ],
            [
                "sd_RaCSTCbaSKm4KxDr"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "task_addComponent",
        "generated": true
    },
    {
        "id": "sd_fqlf6msmh0d2WL7s",
        "type": "PageSwitch",
        "z": "sd_UOVzlvKua9puX8Xf",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "status",
        "propertyType": "bh",
        "propertyGv": "bh.status",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_fqlf6msmh0d2WL7s",
        "category": "Function",
        "x": 905,
        "y": 340,
        "wires": [
            [
                "sd_YD16PVYJRogcdfCo"
            ],
            [
                "sd_RaCSTCbaSKm4KxDr"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "task_addComponent",
        "generated": true
    }
]
