neutrinos-hello-world/designs/pages/dataInteraction/periodicDataContainer.json
[
    {
        "id": "sd_sQ4tDDTAH1Aegu4e",
        "type": "tab",
        "createdDate": "2023-08-10T09:23:41.430Z",
        "label": "periodicDataContainer",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "periodicDataContainerComponent"
    },
    {
        "id": "sd_FLmxFzsSHLk5nkoC",
        "type": "OnInit",
        "z": "sd_sQ4tDDTAH1Aegu4e",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "inputVariables": [],
        "localVariables": [],
        "outputVariables": [],
        "pageVariables": [],
        "functionName": "sd_FLmxFzsSHLk5nkoC",
        "category": "Lifecycle Events",
        "x": 30,
        "y": 30,
        "wires": [
            [
                "sd_KtECDrkZowq0Bm5f",
                "sd_VurPTILKQ6ekTmIQ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "periodicDataContainerComponent"
    },
    {
        "id": "sd_KtECDrkZowq0Bm5f",
        "type": "PageVariables",
        "z": "sd_sQ4tDDTAH1Aegu4e",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [],
        "functionName": "sd_KtECDrkZowq0Bm5f",
        "category": "Function",
        "x": 180,
        "y": 30,
        "wires": [
            [
                "sd_chk49o5iCKms5QHo"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "periodicDataContainerComponent",
        "generated": true
    },
    {
        "id": "sd_chk49o5iCKms5QHo",
        "type": "Script",
        "z": "sd_sQ4tDDTAH1Aegu4e",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.initialData = [\n  {position: 1, name: 'Hydrogen', weight: 1.0079, symbol: 'H'},\n  {position: 2, name: 'Helium', weight: 4.0026, symbol: 'He'},\n  {position: 3, name: 'Lithium', weight: 6.941, symbol: 'Li'},\n  {position: 4, name: 'Beryllium', weight: 9.0122, symbol: 'Be'},\n  {position: 5, name: 'Boron', weight: 10.811, symbol: 'B'},\n  {position: 6, name: 'Carbon', weight: 12.0107, symbol: 'C'},\n  {position: 7, name: 'Nitrogen', weight: 14.0067, symbol: 'N'},\n  {position: 8, name: 'Oxygen', weight: 15.9994, symbol: 'O'},\n  {position: 9, name: 'Fluorine', weight: 18.9984, symbol: 'F'},\n  {position: 10, name: 'Neon', weight: 20.1797, symbol: 'Ne'},\n];",
        "functionName": "sd_chk49o5iCKms5QHo",
        "category": "Function",
        "x": 340,
        "y": 40,
        "wires": [
            [
                "sd_64jOGTRg6UJNd5Qg"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "periodicDataContainerComponent",
        "generated": true
    },
    {
        "id": "sd_FUHTjvN5iRDx54vn",
        "type": "Script",
        "z": "sd_sQ4tDDTAH1Aegu4e",
        "viewType": "common",
        "nodeType": "flow",
        "name": "displaynotification",
        "script": "page.receivedNewItem = bh.input.event.name;",
        "functionName": "displaynotification",
        "category": "Function",
        "x": 165,
        "y": 220,
        "wires": [
            [
                "sd_MVb0UdBUOmgC6pGF"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "periodicDataContainerComponent",
        "generated": true
    },
    {
        "id": "sd_hd3ythvF1m51RAS3",
        "type": "PageStart",
        "z": "sd_sQ4tDDTAH1Aegu4e",
        "viewType": "pages",
        "nodeType": "start",
        "name": "emittedElementFromChild",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "event",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "emittedElementFromChild",
        "category": "General",
        "x": 65,
        "y": 220,
        "wires": [
            [
                "sd_FUHTjvN5iRDx54vn"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "periodicDataContainerComponent"
    },
    {
        "id": "sd_MVb0UdBUOmgC6pGF",
        "type": "SnackBar",
        "z": "sd_sQ4tDDTAH1Aegu4e",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "this.page",
            "value": "receivedNewItem"
        },
        "action": {
            "type": "str",
            "value": "ok"
        },
        "duration": {
            "type": "num",
            "value": "5000"
        },
        "horizontalPosition": "center",
        "verticalPosition": "bottom",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_MVb0UdBUOmgC6pGF",
        "category": "General",
        "x": 305,
        "y": 220,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "periodicDataContainerComponent",
        "generated": true
    },
    {
        "id": "sd_64jOGTRg6UJNd5Qg",
        "type": "UseDependency",
        "z": "sd_sQ4tDDTAH1Aegu4e",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "referencePeriodicTable",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "periodicDataComponent",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "app/components/dataInteraction/periodicData.component",
        "serviceDesignerType": "pages",
        "functionName": "referencePeriodicTable",
        "category": "Function",
        "x": 480,
        "y": 40,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "periodicDataContainerComponent",
        "generated": true
    },
    {
        "id": "sd_SHTwsElWkqt2x15l",
        "type": "AfterViewInit",
        "z": "sd_sQ4tDDTAH1Aegu4e",
        "viewType": "common",
        "nodeType": "start",
        "name": "After View Init",
        "functionName": "ngAfterViewInit",
        "category": "Lifecycle Events",
        "x": 65,
        "y": 340,
        "wires": [
            [
                "sd_Khq3YWU5ypPvXPYm"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "periodicDataContainerComponent"
    },
    {
        "id": "sd_Khq3YWU5ypPvXPYm",
        "type": "ViewPicker",
        "z": "sd_sQ4tDDTAH1Aegu4e",
        "viewType": "common",
        "nodeType": "flow",
        "name": "viewPeriodicTable",
        "outputs": 1,
        "childViewVariables": [
            {
                "key": {
                    "type": "literal",
                    "value": "periodicDataComponent"
                },
                "defaultValue": "",
                "isViewChildren": false
            }
        ],
        "functionName": "viewPeriodicTable",
        "category": "Function",
        "x": 180,
        "y": 340,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "periodicDataContainerComponent",
        "generated": true
    },
    {
        "id": "sd_irIczRnATC1ysXRA",
        "type": "PageStart",
        "z": "sd_sQ4tDDTAH1Aegu4e",
        "viewType": "pages",
        "nodeType": "start",
        "name": "removeElementPeriodicTable",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "removeElementPeriodicTable",
        "category": "General",
        "x": 65,
        "y": 480,
        "wires": [
            [
                "sd_YkmL2RmABlk1xDSb"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "periodicDataContainerComponent"
    },
    {
        "id": "sd_YkmL2RmABlk1xDSb",
        "type": "Script",
        "z": "sd_sQ4tDDTAH1Aegu4e",
        "viewType": "common",
        "nodeType": "flow",
        "name": "triggerFunctionChild",
        "script": "this.periodicDataComponent.removeElement();",
        "functionName": "triggerFunctionChild",
        "category": "Function",
        "x": 200,
        "y": 480,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "periodicDataContainerComponent",
        "generated": true
    },
    {
        "id": "sd_VurPTILKQ6ekTmIQ",
        "type": "NavigationData",
        "z": "sd_sQ4tDDTAH1Aegu4e",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "data",
        "operation": "keys",
        "key": "bh",
        "resultMapping": "this.page.routerData",
        "functionName": "sd_VurPTILKQ6ekTmIQ",
        "category": "Navigation",
        "x": 125,
        "y": 100,
        "wires": [
            [
                "sd_tY4OM8MuMmlgrxWl"
            ]
        ],
        "__ssdTypeInputs__": {
            "key": {
                "type": "bh",
                "value": "",
                "constant": false
            },
            "resultMapping": {
                "type": "this.page",
                "value": "routerData",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "periodicDataContainerComponent",
        "generated": true
    },
    {
        "id": "sd_NLjhxTsvWKjyk5Nq",
        "type": "SnackBar",
        "z": "sd_sQ4tDDTAH1Aegu4e",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "this.page",
            "value": "routerDisplayData"
        },
        "action": {
            "type": "str",
            "value": "ok"
        },
        "duration": {
            "type": "num",
            "value": "5000"
        },
        "horizontalPosition": "center",
        "verticalPosition": "bottom",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_NLjhxTsvWKjyk5Nq",
        "category": "General",
        "x": 345,
        "y": 120,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "periodicDataContainerComponent",
        "generated": true
    },
    {
        "id": "sd_tY4OM8MuMmlgrxWl",
        "type": "Script",
        "z": "sd_sQ4tDDTAH1Aegu4e",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.routerDisplayData = page.routerData.display;\n\nconsole.log(page.routerData);",
        "functionName": "sd_tY4OM8MuMmlgrxWl",
        "category": "Function",
        "x": 240,
        "y": 120,
        "wires": [
            [
                "sd_NLjhxTsvWKjyk5Nq"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "periodicDataContainerComponent",
        "generated": true
    }
]
